{% if (allfilters or (filter_price_status and filter_price_min and filter_price_max) or (filter_subcategories != 'false' and subcategories)) %} 
	<div id="revfilter">
		<form id="revfilter_form" action="{{ full_path }}" method="get">
			<div id="revfilter_box_open"><i class="fa fa-sliders"></i>&nbsp;&nbsp;{{ text_filter_mobile }}</div>
			<div id="revfilter_box" class="panel panel-default">
				{% if (title) %} 
					<h2 class="zag_block panel-heading"><i class="fa fa-sliders"></i>&nbsp;&nbsp;{{ title }}<div class="clear_filter"><i id="revfilter_reset" class="fa fa-refresh"></i></div></h2>
				{% endif %} 
				<div class="mobil_wellsm hidden-md hidden-lg">
					<div class="option_box">
						<div class="option_name hided">{{ text_filter_sort }}:<i class="fa fa-toggle-on on"></i><i class="fa fa-toggle-off off"></i></div>
						<div class="collapsible" style="display: none;"></div>
					</div>
				</div>
				<div class="list-group">
					{% if (filter_price_status and filter_price_min and filter_price_max) %} 
						<div class="option_box">
							<div class="option_name">{{ text_price }}:<i class="fa fa-toggle-on on"></i><i class="fa fa-toggle-off off"></i></div>
							<div class="price_slider collapsible">
								<input type="text" id="price_revfilter" name="filter_price" style="display: none;" />
							</div>
						</div>
					{% endif %} 
					{% if (filter_instock) %} 
						<div class="option_box">
							<div class="option_name {% if (filter_instock_vid is defined and filter_instock_vid) %}hided{% endif %}">{{ text_instock }}:<i class="fa fa-toggle-on on"></i><i class="fa fa-toggle-off off"></i></div>
							<div class="collapsible" {% if (filter_instock_vid is defined and filter_instock_vid) %}style="display: none;"{% endif %}>
								<label>
									<input type="checkbox" class="filtered" name="filter_instock" />
									<span for="instock">{{ text_instock_on }}</span></label>
							</div>
						</div>
					{% endif %} 
					{% if (filter_gr != 'false' and allfilters_gr is not empty) %} 
						<div class="option_box">
							<div class="option_name {% if (filter_gr_vid is defined and filter_gr_vid) %}hided{% endif %}">{{ text_revf_group }}:<i class="fa fa-toggle-on on"></i><i class="fa fa-toggle-off off"></i></div>
							<div class="collapsible" {% if (filter_gr_vid is defined and filter_gr_vid) %}style="display: none;"{% endif %}>
								{% if (filter_gr == 'select') %} 
									<select name="filter_gr" class="form-control">
										<option value="">{{ text_none }}</option>
										{% for key,filter in allfilters_gr %} 
											<option id="groups" value="{{ filter['id'] }}">
												{{ filter['title'] }} 
											</option>
										{% endfor %} 
									</select>
								{% elseif (filter_gr == 'radio') %} 
									{% for key,filter in allfilters_gr %} 
										<div id="{{ filter['id'] }}" class="radio">
											<label>
												<input type="radio" name="filter_gr" value="{{ filter['id'] }}" />{{ filter['title'] }} 
											</label>
										</div>
									{% endfor %} 
								{% endif %} 
							</div>
						</div>
					{% endif %} 
					{% if (filter_subcategories != 'false' and subcategories) %} 
						<div class="option_box">
							<div class="option_name {% if (filter_subcategories_vid is defined and filter_subcategories_vid) %}hided{% endif %}">{{ text_subcategories }}:<i class="fa fa-toggle-on on"></i><i class="fa fa-toggle-off off"></i></div>
							<div class="collapsible" {% if (filter_subcategories_vid is defined and filter_subcategories_vid) %}style="display: none;"{% endif %}>
								<div id="subcategories" class="form-group" data-type="{{ filter_subcategories }}">
									{% if (filter_subcategories == 'checkbox') %} 
											{% for filter_v in subcategories %} 
													<div id="subcategories" class="checkbox">
														<label>
															<input type="checkbox" name="filter_categories[]" value="{{ filter_v['category_id'] }}" />{{ filter_v['name'] }} 
														</label>
														{% if (settings['filter_count_products']) %} 
															{% if (filter_v['count']) %} 
																<span class="revlabel pull-right">{{ filter_v['count'] }}</span>
															{% endif %} 
														{% endif %} 
													</div>
											{% endfor %} 
									{% elseif (filter_subcategories == 'radio') %} 
											{% for filter_v in subcategories %} 
													<div id="subcategories" class="radio">
														<label>
															<input type="radio" name="filter_categories" value="{{ filter_v['category_id'] }}" />{{ filter_v['name'] }} 
														</label>
														{% if (settings['filter_count_products']) %} 
															{% if (filter_v['count']) %} 
																<span class="revlabel pull-right">{{ filter_v['count'] }}</span>
															{% endif %} 
														{% endif %} 
													</div>
											{% endfor %} 
									{% elseif (filter_subcategories == 'select') %} 
										<select name="filter_categories" class="form-control">
											<option value="">{{ text_none }}</option>
											{% for filter_v in subcategories %} 
												<option id="subcategories" value="{{ filter_v['category_id'] }}">
													{{ filter_v['name'] }} 
													{% if (settings['filter_count_products']) %} 
														{% if (filter_v['count']) %} 
															({{ filter_v['count'] }})
														{% endif %} 
													{% endif %} 
												</option>
											{% endfor %} 
										</select>
									{% endif %} 
								</div>
							</div>
						</div>
					{% endif %} 
					{% if (allfilters) %} 
						{% for key,filter in allfilters %} 
							{% if (filter['values']|length > 1) %} 
								<div class="option_box{% if (filter['type'] == 'slider') %} hidden-xs hidden-sm{% endif %}">
									<div class="option_name {% if (filter['vid'] is defined and filter['vid']) %}hided{% endif %}">{{ filter['title'] }}:<i class="fa fa-toggle-on on"></i><i class="fa fa-toggle-off off"></i></div>
									<div class="collapsible" {% if (filter['vid'] is defined and filter['vid']) %}style="display: none;"{% endif %}>
										<div id="{{ filter['id'] }}" class="form-group" data-type="{{ filter['type'] }}">
											{% if (filter['type'] == 'checkbox') %} 
												{% for key,filter_v in filter['values'] %} 
														<div id="{{ filter_v['id'] }}" class="checkbox">
															<label>
																<input type="checkbox" name="{{ filter['name'] }}[]" value="{{ filter_v['val'] }}" />{{ filter_v['name'] }} 
															</label>
															{% if (settings['filter_count_products']) %} 
																{% if (filter_v['count']) %} 
																	<span class="revlabel pull-right">{{ filter_v['count'] }}</span>
																{% endif %} 
															{% endif %} 
														</div>
												{% endfor %} 
											{% elseif (filter['type'] == 'radio') %} 
												{% for key,filter_v in filter['values'] %} 
														<div id="{{ filter_v['id'] }}" class="radio">
															<label>
																<input type="radio" name="{{ filter['name'] }}" value="{{ filter_v['val'] }}" />{{ filter_v['name'] }} 
															</label>
															{% if (settings['filter_count_products']) %} 
																{% if (filter_v['count']) %} 
																	<span class="revlabel pull-right">{{ filter_v['count'] }}</span>
																{% endif %} 
															{% endif %} 
														</div>
												{% endfor %} 
											{% elseif (filter['type'] == 'select') %} 
												<select name="{{ filter['name'] }}" class="form-control">
													<option value="">{{ text_none }}</option>
													{% for key,filter_v in filter['values'] %} 
														<option id="{{ filter_v['id'] }}" value="{{ filter_v['val'] }}">
															{{ filter_v['name'] }} 
															{% if (settings['filter_count_products']) %} 
																{% if (filter_v['count']) %} 
																	({{ filter_v['count'] }})
																{% endif %} 
															{% endif %} 
														</option>
													{% endfor %} 
												</select>
											{% elseif (filter['type'] == 'slider') %} 
												<div class="slidewrapper">
													<input type="text" id="revf_slider{{ filter['id'] }}" name="{{ filter['name'] }}" />
												</div>
											{% elseif (filter['type'] == 'image') %} 
												{% for key,filter_v in filter['values'] %} 
													<div id="{{ filter_v['id'] }}" class="image-filter">
														{% if (settings['filter_count_products']) %} 
															<label>
																<input type="checkbox" name="{{ filter['name'] }}" value="{{ filter_v['val'] }}" />
																<img class="img-responsive" src="{{ filter_v['image'] }}" alt="{{ filter_v['name'] }}"/>{{ filter_v['name'] }} 
															</label>
															{% if (filter_v['count']) %} 
																<span class="revlabel pull-right">{{ filter_v['count'] }}</span>
															{% endif %} 
														{% else %} 
															<label class="without_count_products">
																<input type="checkbox" name="{{ filter['name'] }}" value="{{ filter_v['val'] }}" />
																<img data-toggle="tooltip" class="img-responsive" src="{{ filter_v['image'] }}" alt="{{ filter_v['name'] }}" title="{{ filter_v['name'] }}" />
															</label>
														{% endif %} 
													</div>
												{% endfor %} 
											{% endif %} 
										</div>
									</div>
								</div>
							{% endif %} 
						{% endfor %} 
					{% endif %} 
				</div>
				{% if (not settings['filter_sposob']) %} 
					<div class="form-group">
						<button type="submit" class="app_filter btn btn-primary btn-block" data-loading-text="{{ text_loading }}">{{ text_find }}</button>
					</div>
				{% endif %} 
			</div>
			<input type="hidden" name="sort" value="{{ sort }}" />
			<input type="hidden" name="order" value="{{ order }}" />
			<input type="hidden" name="limit" value="{{ limit }}" />
		</form>
	</div>
	<script><!--
	$(".option_box .option_name").click(function () {
		$(this).siblings(".collapsible").toggle();
		$(this).toggleClass("hided")
	});
	if($(window).width() < 991) {
		$('#column-left #revfilter_box').css('height', $(window).height());
		{% if (settings['filter_sposob']) %} 
			$('#revfilter_box').append('<div style="margin:15px 0; text-align:center"><button class="app_filter btn btn-primary btn-block" data-loading-text="{{ text_loading }}">{{ text_find }}</button></div>');
		{% endif %} 
		$('#revfilter_box_open').on('click', function() {
			$('#column-left').addClass('show');
			$('#revfilter_box_open').css('opacity', '0');
			document.body.style.overflow = 'hidden';
		});	
		$('.app_filter, .clear_filter').on('click', function() {
			$('#column-left').removeClass('show');
			$('#revfilter_box_open').css('opacity', '0.9');
			document.body.style.overflow = 'visible';
		});
	}
	{% if (filter_price_status and filter_price_min and filter_price_max) %} 
		$("#price_revfilter").ionRangeSlider( {
			type: 'double',
			force_edges: true,
			min: {{ filter_price_min }},
			max: {{ filter_price_max }},
			from: {{ filter_price_min }},
			to: {{ filter_price_max }},
			prefix: '{{ prefix }}',
			postfix: '{{ postfix }}',
			{% if (settings['filter_price_setka']) %} 
				grid: true,
				step: {{ settings['filter_price_step'] }},
				grid_num: 4,
			{% endif %} 
			{% if (settings['filter_sposob']) %} 
				onFinish: function (data) {
					if($(window).width() > 991) {
						$('#revfilter_form').submit();
					}
				}
			{% endif %} 
		});
	{% endif %} 
	{% if (allfilters is defined) %} 
		{% for key,filter in allfilters %} 
			{% if (filter['type'] is defined and (filter['type'] == 'slider')) %} 
					var values{{ key }} = [
						{% if (filter['values'] is defined) %} 
							{% for filter_v in filter['values'] %} 
								"{{ filter_v['val'] }}",
							{% endfor %} 
						{% endif %} 
					];
					$("#revf_slider{{ filter['id'] }}").ionRangeSlider( {
						type: 'double',
						force_edges: true,
						values: values{{ key }},
						prettify_enabled: true,
						grid: {{ settings['filter_setka'] ? 'true' : 'false' }},
						prettify: function (num) {
							{% if (filter['values'] is defined) %} 
								{% for filter_v in filter['values'] %} 
									if (num == "{{ filter_v['val'] }}") { return "{{ filter_v['name'] }}"; }
								{% endfor %} 
							{% endif %} 
						},
						onFinish: function (data) {
							var load_filters = false;
							var result = [];
							for (var i = 0; i < values{{ key }}.length; i++) {
								if (i == data.from) {
									load_filters = true;
								}
								if (load_filters) {
									result.push(values{{ key }}[i]);
								}
								if (i == data.to) {
									load_filters = false;
								}
							}
							data.input.val(result.join(";"));
							{% if (settings['filter_sposob']) %} 
								if($(window).width() > 991) {
									$('#revfilter_form').submit();
								}
							{% endif %} 
						}
					});
					$("#revf_slider{{ filter['id'] }}").val("");
			{% endif %} 
		{% endfor %} 
	{% endif %} 
	$(document).ready(function () {
		if($(window).width() > 991) {
			sortir = 'auto';
		} else { 
			sortir = 'manual';
		}
		$('#revfilter_form').revFilter( {
			selector: '#content .revfilter_container',
			{% if (settings['filter_sposob']) %} 
				mode: sortir,
			{% else %} 
				mode: 'manual',
			{% endif %} 
			revload: true,
			{% if (settings['filter_count_products']) %} 
				count_show: true,
			{% endif %} 
			reset_id: 'revfilter_reset',
			filter_data: {{ filter_data }} 
		});
	});
	//--></script>
{% endif %}