{{ header }} 
<div class="container">
<div itemscope itemtype="http://schema.org/BreadcrumbList" style="display:none;">
{% set position = 1 %} {% for breadcrumb in breadcrumbs %} 
<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
<link itemprop="item" href="{{ breadcrumb['href'] }}">
<meta itemprop="name" content="{{ breadcrumb['text'] }}" />
<meta itemprop="position" content="{{ position }}" />
</div>
{% set position = position + 1 %} {% endfor %} 
</div>
<ul class="breadcrumb"><li class="br_ellipses" style="display: none;">...</li>
{% for i,breadcrumb in breadcrumbs %} 
{% if (i+1<breadcrumbs|length) %}<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>{% else %}{% endif %} 
{% endfor %} 
<li><h1 class="inbreadcrumb">{{ text_rev_text_order }}</h1></li>
</ul>
  <div class="row">{{ column_left }} 
    {% if (column_left and column_right) %} 
    {% set class = 'col-sm-6' %} 
    {% elseif (column_left or column_right) %} 
    {% set class = 'col-sm-9' %} 
    {% else %} 
    {% set class = 'col-sm-12' %} 
    {% endif %} 
    <div id="content" class="{{ class }}">{{ content_top }} 
      {% if (orders) %} 
      <div class="table-responsive">
        <table class="table table-revolution">
          <thead>
            <tr>
              <td class="text-left">{{ column_order_id }}</td>
              <td class="text-left">{{ column_status }}</td>
              <td class="text-left">{{ column_date_added }}</td>
              <td class="text-center hidden-xs">{{ column_product }}</td>
              <td class="text-left hidden-xs">{{ column_customer }}</td>
              <td class="text-left">{{ column_total }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %} 
            <tr>
              <td class="text-left">#{{ order['order_id'] }}</td>
              <td class="text-left">{{ order['status'] }}</td>
              <td class="text-left">{{ order['date_added'] }}</td>
              <td class="text-center hidden-xs">{{ order['products'] }}</td>
              <td class="text-left hidden-xs">{{ order['name'] }}</td>
              <td class="text-left">{{ order['total'] }}</td>
              <td class="text-left"><a href="{{ order['view'] }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a></td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
      <div class="text-right">{{ pagination }}</div>
      {% else %} 
      <p>{{ text_empty }}</p>
      {% endif %} 
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}