<div id="cart" class="btn-group show-on-hover w100 {{ mini_header_cart_class }}">
	{% if (setting_header_cart['type'] == 'standart') %} 
		<button type="button" class="cart dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
			<span id="cart-total">{{ text_items }}</span>
			<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span>
		</button>
		<button class="cart hidden-md hidden-lg" onclick="get_revpopup_cart('', 'show_cart', '');">
			<span id="cart-total-popup">{{ text_items }}</span>
		</button>
	{% elseif (setting_header_cart['type'] == 'redirect') %} 
		<button class="cart" onclick="get_revpopup_cart('', 'redirect_cart', '');">
			<span id="cart-total">{{ text_items }}</span>
		</button>
	{% else %} 
		<button class="cart" onclick="get_revpopup_cart('', 'show_cart', '');">
			<span id="cart-total">{{ text_items }}</span>
		</button>
	{% endif %} 
	{% if (setting_header_cart['type'] == 'standart') %} 
	<ul class="dropdown-menu pull-right hidden-xs hidden-sm dblock22">
    {% if (products or vouchers) %} 
    <li>
      <table class="table display-products-cart porder">
        {% for product in products %} 
        <tr>
          <td class="image">{% if (product['thumb']) %} 
            <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" /></a>
            {% endif %}</td>
          <td class="name"><a href="{{ product['href'] }}">{{ product['name'] }}</a>
            {% if (product['option']) %} 
            {% for option in product['option'] %} 
            <br />
            - <small>{{ option['name'] }} {{ option['value'] }}</small>
            {% endfor %} 
            {% endif %} 
            {% if (product['recurring']) %} 
            <br />
            - <small>{{ text_recurring }} {{ product['recurring'] }}</small>
            {% endif %}</td>
			<td class="qt">
				<div class="number">
					<div class="frame-change-count">
						<div class="btn-plus">
							<button type="button" onclick="validate_pole_cart(this,{{ product['cart_id'] }},'+',{{ product['minimum'] }},{{ product['quantity_pr'] }});">+</button>
						</div>
						<div class="btn-minus">
							<button type="button" onclick="validate_pole_cart(this,{{ product['cart_id'] }},'-',{{ product['minimum'] }},{{ product['quantity_pr'] }});">-</button>
						</div>
					</div>
					<input type="text" name="quantity[{{ product['cart_id'] }}]" value="{{ product['quantity'] }}" onchange="update_cart_manual(this, '{{ product['cart_id'] }}', '{{ product['minimum'] }}', '{{ product['quantity_pr'] }}');" onkeyup="update_cart_manual(this, '{{ product['cart_id'] }}', '{{ product['minimum'] }}', '{{ product['quantity_pr'] }}');" size="1" class="plus-minus cartid_{{ product['cart_id'] }}" /> 
				</div>
			</td>
          <td class="totals">{{ product['total'] }}</td>
          <td class="remove"><button type="button" onclick="cart.remove('{{ product['cart_id'] }}', '{{ product['product_id'] }}');" title="{{ button_remove }}"><i class="fa fa-trash-o"></i></button></td>
        </tr>
        {% endfor %} 
        {% for voucher in vouchers %} 
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher['description'] }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher['amount'] }}</td>
          <td class="text-center remove"><button type="button" onclick="voucher.remove('{{ voucher['key'] }}');" title="{{ button_remove }}"><i class="fa fa-trash-o"></i></button></td>
        </tr>
        {% endfor %} 
      </table>
    </li>
    <li>
        <div class="all-total">
		  {% for total in totals %} 
			<div class="clear-total">
			<div class="totals-right">{{ total['text'] }}</div>
			<div class="totals-left">{{ total['title'] }}:</div>     
			</div>
		  {% endfor %} 
		</div>
		<div class="cartfooter">
			{% if (setting_header_cart['cart_carturl']) %} 
				<a class="btn btn-default btn-sm" href="{{ cart }}">{{ text_cart }}</a>
			{% endif %} 
			{% if (setting_header_cart['cart_quick']) %} 
				<a class="btn btn-default btn-sm" href="javascript:void(0)" onclick="get_revpopup_cartquick();">{{ text_rev_buy_quick }}</a>
			{% endif %} 
			<a class="btn btn-danger" href="{{ checkout }}">{{ text_checkout }}</a>
		</div>
    </li>
    {% else %} 
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %} 
  </ul>
  {% endif %} 
</div>
<script><!--
{% if (setting_revtheme_header_menu['zadergka']) %} 
	$('#top3 #cart .dropdown-menu').removeClass('dblock22');
	var global_cart_button;
	$("#top3 #cart").hover(function(){
		global_cart_button = setTimeout(function() {
		$('#top3 #cart .dropdown-menu').addClass('dblock');
		$('#top3 #cart .dropdown-menu').removeClass('dblock22');
	}, 250)
	},function(){
		$('#top3 #cart .dropdown-menu').removeClass('dblock');
		clearTimeout(global_cart_button);
		$('#top3 #cart .dropdown-menu').removeClass('dblock22');
	});
{% endif %} 
function masked(element, status) {
	if (status == true) {
		$('<div/>')
		.attr({ 'class':'masked' })
		.prependTo(element);
		$('<div class="masked_loading" />').insertAfter($('.masked'));
	} else {
		$('.masked').remove();
		$('.masked_loading').remove();
	}
}
function cart_update() {
return;
}
function update_cart_manual(val, product_id, minimumvalue, maximumvalue) {
	val.value = val.value.replace(/[^\d,]/g, '');
	input_val = $('#cart input.plus-minus.cartid_'+product_id);
	quantity = parseInt(input_val.val());
	if (quantity <= minimumvalue) {
		input_val.val(minimumvalue);
		return;
	}
	{% if (q_zavisimost) %} 
		if (quantity > maximumvalue) {
			input_val.val(maximumvalue);
			return;
		}
	{% endif %} 
	cart.update(product_id, input_val.val());
	cart_update();
}
function validate_pole_cart(val, product_id, znak, minimumvalue, maximumvalue) {
	val.value = val.value.replace(/[^\d,]/g, '');
	if (val.value == '') val.value = minimumvalue;
	input_val = $('#cart input.plus-minus.cartid_'+product_id);
	quantity = parseInt(input_val.val());
	{% if (q_zavisimost) %} 
		if (znak=='+' && input_val.val() < maximumvalue) input_val.val(quantity+1);
		else if (znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
		else if (znak=='=' && input_val.val() < maximumvalue && input_val.val() < maximumvalue) input_val.val(input_val.val());
		if (quantity < 1 || quantity < minimumvalue) {
			input_val.val(minimumvalue);
			val.value = minimumvalue;
		} else if (quantity > maximumvalue) {
			input_val.val(maximumvalue);
			val.value = maximumvalue;
		}
	{% else %} 
		if (znak=='+') input_val.val(quantity+1);
		else if (znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
		else if (znak=='=' && input_val.val() > minimumvalue) input_val.val(input_val.val());
		if (quantity < 1 || quantity < minimumvalue) {
			input_val.val(minimumvalue);
			val.value = minimumvalue;
		}
	{% endif %} 
	cart.update(product_id, input_val.val());
	cart_update();
}
//--></script>