</section>
{% if (not setting_all_settings['all_document_width'] and setting_all_settings['all_document_h_f_width']) %} 
</div>
{% endif %} 
<footer>
{% if (f_map) %} 
	<div id="map-wrapper" class="hidden-xs">
		<div class="contact-info">
			<div class="item">
				<div class="label_fconts">{{ text_contact_ourcontacts }}</div>
				{% if (settings_all_settings['m_conts']) %} 
					<p class="hid_address"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ address }}</p>
					<p class="hid_telephone"><i class="fa fa fa-phone" aria-hidden="true"></i>{{ telephone }}</p>
					<p class="hid_email"><i class="fa fa fa-envelope" aria-hidden="true"></i>{{ config_email }}</p>
				{% endif %} 
				{% if (settings_all_settings['dop_conts']) %} 
					{% if (header_phone_number != '') %} 
						<p class="dop_contact_tel1"><i class="fa fa fa-phone" aria-hidden="true"></i>{{ header_phone_cod }} {{ header_phone_number }}</p>
					{% endif %} 
					{% if (header_phone_number2 != '') %} 
						<p class="dop_contact_tel2"><i class="fa fa fa-phone" aria-hidden="true"></i>{{ header_phone_cod2 }} {{ header_phone_number2 }}<p>
					{% endif %} 
					{% if (dop_contacts) %} {% set i_dc = 1 %} 
						{% for dop_contact in dop_contacts %} 
							{% if (dop_contact['href'] != '') %} 
								<p class="dop_contact_{{ i_dc }}">{{ dop_contact['icon'] }}<a href="{{ dop_contact['href'] }}">{{ dop_contact['number'] }}</a></p>
							{% else %} 
								<p class="dop_contact_{{ i_dc }}">{{ dop_contact['icon'] }}{{ dop_contact['number'] }}</p>
							{% endif %} 
						{% set i_dc = i_dc + 1 %} {% endfor %} 
					{% endif %} 
				{% endif %} 
				{% if (settings_all_settings['soc_conts']) %} 
					{% if (revtheme_footer_socs_p) %} 
						{% for revtheme_footer_soc in revtheme_footer_socs_p %} 
							<p><i class="{{ revtheme_footer_soc['image'] }}" aria-hidden="true"></i><a href="{{ revtheme_footer_soc['link'] }}" rel="nofollow" target="_blank">{{ revtheme_footer_soc['link_t'] }}</a></p>
						{% endfor %} 
					{% endif %} 
				{% endif %} 
			</div>
		</div>
		<div id="yamap">
			{% if (yamap) %} {{ yamap }}{% endif %} 
		</div>
	</div>
{% endif %} 
	{{ revsubscribe }} 
	<div class="footer">
		<div class="container">
			<div class="row">
				{% set dops_class = "not_dops_snot_dops_s" %} {% if (not revtheme_custom_footer['dops_pc_status']) %} {% set dops_class = "not_dops_s hidden-md hidden-lg" %} {% endif %} 
				<div class="{{ dops_class }}">
					{% if (informations or revtheme_footer_links) %} 
						{% set class_informations = 'col-sm-12' %}
						{% if ((informations or revtheme_footer_links) and revtheme_footer_socs) %} {% set class_informations = 'col-sm-8' %} {% endif %} 
						<div class="footer_links {{ class_informations }} col-xs-12 {% if (setting_all_settings['mobile_header'] == '2') %}hidden-xs{% endif %}">
							{% if (informations) %} 
								{% for information in informations %} 
									<a href="{{ information['href'] }}">{{ information['title'] }}</a>
								{% endfor %} 
							{% endif %} 
							{% if (revtheme_footer_links) %} 
								{% for revtheme_footer_link in revtheme_footer_links %} 
									<a href="{{ revtheme_footer_link['link'] }}">{{ revtheme_footer_link['title'] }}</a>
								{% endfor %} 
							{% endif %} 
						</div>
					{% endif %} 
					{% if (revtheme_footer_socs) %} 
						{% set class_footer_socs = 'col-sm-12' %}
						{% if ((informations or revtheme_footer_links) and revtheme_footer_socs) %} {% set class_footer_socs = 'col-sm-4' %} {% endif %} 
						<div class="soc_s {{ class_footer_socs }} col-xs-12 {% if (setting_all_settings['mobile_header'] == '2') %}hidden-xs{% endif %}">
							{% for revtheme_footer_soc in revtheme_footer_socs %} 
								<a href="{{ revtheme_footer_soc['link'] }}" rel="nofollow" target="_blank"><i class="{{ revtheme_footer_soc['image'] }}" data-toggle="tooltip" title="{{ revtheme_footer_soc['title'] }}"></i></a>
							{% endfor %} 
						</div>
					{% endif %} 
				</div>
				{% if (revtheme_custom_footer['status']) %} 
					<div class="footer_cfs hidden-sm">
						{% if (revtheme_custom_footer['cf_1_status']) %} 
							{% if (revtheme_dop_menus_cf or cf_1_description|length > 15) %} 
								<div {{ cf_1_width }}>
									{% if (revtheme_dop_menus_cf) %} 
										<ul class="list-unstyled">
											{% for revtheme_dop_menu in revtheme_dop_menus_cf %} 
												<li class="zag_dm_cf_li">
													<span class="zag_dm_cf">
													{% if revtheme_dop_menu['href'~config_language_id] != '' %}
														<a href="{{ revtheme_dop_menu['href'~config_language_id] }}">{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_cf'] != '') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_cf'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image_cf']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_cf'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}</a>
													 {% else %}
														{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_cf'] != '') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_cf'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image_cf']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_cf'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}
													{% endif %}
													</span>
													{% if (revtheme_dop_menu['children'] is defined) %} 
														<ul class="list-unstyled last_ul_cf">
															{% for child in revtheme_dop_menu['children'] %} 
																<li>
																	{% if child['href'~config_language_id] != '' %}
																		<a href="{{ child['href'~config_language_id] }}">{% if (child['icontype'] == 'iconka' and child['dop_menu_iconka_cf'] != '') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka_cf'] }}"></i></span> {% else %} {% if (child['dop_menu_image_cf']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image_cf'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}</a>
																	 {% else %}
																		{% if (child['icontype'] == 'iconka' and child['dop_menu_iconka_cf'] != '') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka_cf'] }}"></i></span> {% else %} {% if (child['dop_menu_image_cf']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image_cf'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}
																	{% endif %}
																</li>
															{% endfor %}  
														</ul>
													{% endif %}
												</li>
											{% endfor %} 
										</ul>
									{% endif %}
									{% if (cf_1_description|length > 15) %} {{ cf_1_description }} {% endif %} 
								</div>
							{% endif %} 
						{% endif %}  
						{% if (revtheme_custom_footer['cf_2_status']) %} 
							{% if (revtheme_dop_menus_cf_2 or cf_2_description|length > 15) %} 
								<div {{ cf_2_width }}>
									{% if (revtheme_dop_menus_cf_2) %} 
										<ul class="list-unstyled">
											{% for revtheme_dop_menu in revtheme_dop_menus_cf_2 %} 
												<li class="zag_dm_cf_li">
													<span class="zag_dm_cf">
													{% if revtheme_dop_menu['href'~config_language_id] != '' %}
														<a href="{{ revtheme_dop_menu['href'~config_language_id] }}">{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_cf_2'] != '') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_cf_2'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image_cf_2']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_cf_2'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}</a>
													 {% else %}
														{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_cf_2'] != '') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_cf_2'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image_cf_2']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_cf_2'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}
													{% endif %}
													</span>
													{% if (revtheme_dop_menu['children'] is defined) %} 
														<ul class="list-unstyled last_ul_cf">
															{% for child in revtheme_dop_menu['children'] %} 
																<li>
																	{% if child['href'~config_language_id] != '' %} 
																		<a href="{{ child['href'~config_language_id] }}">{% if (child['icontype'] == 'iconka' and child['dop_menu_iconka_cf_2'] != '') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka_cf_2'] }}"></i></span> {% else %} {% if (child['dop_menu_image_cf_2']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image_cf_2'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}</a>
																	 {% else %} 
																		{% if (child['icontype'] == 'iconka' and child['dop_menu_iconka_cf_2'] != '') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka_cf_2'] }}"></i></span> {% else %} {% if (child['dop_menu_image_cf_2']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image_cf_2'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}
																	{% endif %} 
																</li>
															{% endfor %} 
														</ul>
													{% endif %} 
												</li>
											{% endfor %} 
										</ul>
									{% endif %} 
									{% if (cf_2_description|length > 15) %} {{ cf_2_description }} {% endif %} 
								</div>
							{% endif %} 
						{% endif %} 
						{% if (revtheme_custom_footer['cf_3_status']) %} 
							{% if (revtheme_dop_menus_cf_3 or cf_3_description|length > 15) %} 
								<div {{ cf_3_width }}>
									{% if (revtheme_dop_menus_cf_3) %} 
										<ul class="list-unstyled">
											{% for revtheme_dop_menu in revtheme_dop_menus_cf_3 %} 
												<li class="zag_dm_cf_li">
													<span class="zag_dm_cf">
													{% if revtheme_dop_menu['href'~config_language_id] != '' %}
														<a href="{{ revtheme_dop_menu['href'~config_language_id] }}">{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_cf_3'] != '') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_cf_3'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image_cf_3']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_cf_3'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}</a>
													 {% else %} 
														{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_cf_3'] != '') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_cf_3'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image_cf_3']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_cf_3'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}
													{% endif %} 
													</span>
													{% if (revtheme_dop_menu['children'] is defined) %} 
														<ul class="list-unstyled last_ul_cf">
															{% for child in revtheme_dop_menu['children'] %} 
																<li>
																	{% if child['href'~config_language_id] != '' %}
																		<a href="{{ child['href'~config_language_id] }}">{% if (child['icontype'] == 'iconka' and child['dop_menu_iconka_cf_3'] != '') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka_cf_3'] }}"></i></span> {% else %} {% if (child['dop_menu_image_cf_3']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image_cf_3'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}</a>
																	 {% else %} 
																		{% if (child['icontype'] == 'iconka' and child['dop_menu_iconka_cf_3'] != '') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka_cf_3'] }}"></i></span> {% else %} {% if (child['dop_menu_image_cf_3']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image_cf_3'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}
																	{% endif %}
																</li>
															{% endfor %}  
														</ul>
													{% endif %} 
												</li>
											{% endfor %} 
										</ul>
									{% endif %} 
									{% if (cf_3_description|length > 15) %} {{ cf_3_description }} {% endif %} 
								</div>
							{% endif %} 
						{% endif %} 
						{% if (revtheme_custom_footer['cf_4_status']) %} 
							{% if (revtheme_dop_menus_cf_4 or cf_4_description|length > 15) %} 
								<div {{ cf_4_width }}>
									{% if (revtheme_dop_menus_cf_4) %} 
										<ul class="list-unstyled">
											{% for revtheme_dop_menu in revtheme_dop_menus_cf_4 %} 
												<li class="zag_dm_cf_li">
													<span class="zag_dm_cf">
													{% if revtheme_dop_menu['href'~config_language_id] != '' %}
														<a href="{{ revtheme_dop_menu['href'~config_language_id] }}">{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_cf_4'] != '') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_cf_4'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image_cf_4']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_cf_4'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}</a>
													 {% else %} 
														{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_cf_4'] != '') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_cf_4'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image_cf_4']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_cf_4'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}
													{% endif %} 
													</span>
													{% if (revtheme_dop_menu['children'] is defined) %} 
														<ul class="list-unstyled last_ul_cf">
															{% for child in revtheme_dop_menu['children'] %} 
																<li>
																	{% if child['href'~config_language_id] != '' %} 
																		<a href="{{ child['href'~config_language_id] }}">{% if (child['icontype'] == 'iconka' and child['dop_menu_iconka_cf_4'] != '') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka_cf_4'] }}"></i></span> {% else %} {% if (child['dop_menu_image_cf_4']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image_cf_4'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}</a>
																	 {% else %} 
																		{% if (child['icontype'] == 'iconka' and child['dop_menu_iconka_cf_4'] != '') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka_cf_4'] }}"></i></span> {% else %} {% if (child['dop_menu_image_cf_4']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image_cf_4'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}
																	{% endif %} }}
																</li>
															{% endfor %} 
														</ul>
													{% endif %}  
												</li>
											{% endfor %} 
										</ul>
									{% endif %}  
									{% if (cf_4_description|length > 15) %} {{ cf_4_description }} {% endif %} 
								</div>
							{% endif %}  
						{% endif %}  
						{% if (revtheme_custom_footer['cf_5_status']) %} 
							{% if (revtheme_dop_menus_cf_5 or cf_5_description|length > 15) %} 
								<div {{ cf_5_width }}>
									{% if (revtheme_dop_menus_cf_5) %} 
										<ul class="list-unstyled">
											{% for revtheme_dop_menu in revtheme_dop_menus_cf_5 %} 
												<li class="zag_dm_cf_li">
													<span class="zag_dm_cf">
													{% if revtheme_dop_menu['href'~config_language_id] != '' %} 
														<a href="{{ revtheme_dop_menu['href'~config_language_id] }}">{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_cf_5'] != '') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_cf_5'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image_cf_5']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_cf_5'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}</a>
													 {% else %} 
														{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_cf_5'] != '') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_cf_5'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image_cf_5']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_cf_5'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}
													{% endif %} 
													</span>
													{% if (revtheme_dop_menu['children'] is defined) %} 
														<ul class="list-unstyled last_ul_cf">
															{% for child in revtheme_dop_menu['children'] %} 
																<li>
																	{% if child['href'~config_language_id] != '' %} 
																		<a href="{{ child['href'~config_language_id] }}">{% if (child['icontype'] == 'iconka' and child['dop_menu_iconka_cf_5'] != '') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka_cf_5'] }}"></i></span> {% else %} {% if (child['dop_menu_image_cf_5']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image_cf_5'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}</a>
																	 {% else %} 
																		{% if (child['icontype'] == 'iconka' and child['dop_menu_iconka_cf_5'] != '') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka_cf_5'] }}"></i></span> {% else %} {% if (child['dop_menu_image_cf_5']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image_cf_5'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}
																	{% endif %} 
																</li>
															{% endfor %}  
														</ul>
													{% endif %}  
												</li>
											{% endfor %}  
										</ul>
									{% endif %}  
									{% if (cf_5_description|length > 15) %} {{ cf_5_description }} {% endif %} 
								</div>
							{% endif %}  
						{% endif %}  
					</div>
				{% endif %}  
				{% if (revtheme_footer_icons) %} 
					{% set style_powered = 'text-align:right' %} {% set class_powered = 'col-sm-6' %}
					<div class="ficons col-sm-6 col-xs-12">
						{% for revtheme_footer_icon in revtheme_footer_icons %} 
							<span class="revtheme_footer_icon">
								{% if (revtheme_footer_icon['href'] is defined and revtheme_footer_icon['href'] != '') %} 
									<a href="{{ revtheme_footer_icon['href'] }}">
										<img src="{{ revtheme_footer_icon['image'] }}" alt=""/>
									</a>
								{% else %} 
									<img src="{{ revtheme_footer_icon['image'] }}" alt=""/>
								{% endif %} 
							</span>
						{% endfor %} 
					</div>
				{% else %} 
					{% set style_powered = 'text-align:left' %} {% set class_powered = 'col-sm-12' %}
				{% endif %} 
				<div style="{{ style_powered }}" class="powered {{ class_powered }} col-xs-12">{{ powered }}</div>
			</div>
		</div>
	</div>	
</footer>
{% if (not setting_all_settings['all_document_width'] and not setting_all_settings['all_document_h_f_width']) %} 
</div>
{% endif %} 
</div>
{% if (popup_phone) %} 
	<div class="popup-phone-wrapper" data-toggle="tooltip" data-placement="left"  title="{{ text_footer_popup_phone_tooltip }}">
		<span class="scroll-top-inner">
			<i class="fa fa-phone"></i>
		</span>
	</div>
{% endif %} 
{% if (in_top) %} 
	<div class="scroll-top-wrapper ">
		<span class="scroll-top-inner">
			<i class="fa fa-arrow-circle-up"></i>
		</span>
	</div>
{% endif %} 
{% if (not setting_all_settings['minif_on']) %} 
	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
	<script src="catalog/view/javascript/revolution/common.js"></script>
	{% if (setting_all_settings['all_document_snow_on']) %} 
		<script src="catalog/view/javascript/revolution/snow.min.js"></script>
	{% endif %} 
{% else %} 
	<script src="catalog/view/javascript/revolution/javascript_min.js"></script>
{% endif %} 
{% if (f_map and not yamap) %} 
	<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endif %} 
{% if (setting_all_settings['mobile_header'] == '2') %} 
	{% if (not setting_all_settings['minif_on']) %} 
		<script src="catalog/view/javascript/revolution/jquery.mmenu.js"></script>
	{% endif %} 
	<script><!--
	one_sch = $('.mobsearch').html(),
	$('.mobsearch').html('');
	$('.mobsearch_two').html(one_sch);
	$('.mobsearch_two .search-button').on('click', function() {
	url = $('base').attr('href') + 'index.php?route=product/search';
	var value = $('.mobsearch_two input[name=\'search\']').val();
	if (value) {url += '&search=' + encodeURIComponent(value);}
	var category_id = $('.mobsearch_two input[name=\'category_id\']').prop('value');
	if (category_id > 0) {url += '&category_id=' + encodeURIComponent(category_id) + '&sub_category=true';}
	location = url;
	});
	$('.mobsearch_two .search input[name=\'search\']').on('keydown', function(e) {
	if (e.keyCode == 13) {$('.mobsearch_two .search-button').trigger('click');}
	});
	$(document).ready(function() {
		$('nav#mobil_mmenu').mmenu({
			"extensions": ["theme-dark", "pagedim-black"],
			"counters": true,
			"navbars": [
				{
				   "position": "top",
				   "type": "tabs",
				   "content": [
					  "<a href='#panel-menu'><i class='fa fa-bars'></i></a>",
					  "<a href='#panel-language'>{{ text_contacts_mobil }}</a>"
				   ]
				},
				{% if (revtheme_footer_socs) %}			
				{
				   "position": "bottom",
				   "content": [
						{% for revtheme_footer_soc in revtheme_footer_socs %} 
							"<a class='{{ revtheme_footer_soc['image'] }}' href='{{ revtheme_footer_soc['link'] }}' rel='nofollow'></a>",
						{% endfor %} 
				   ]
				}
				{% endif %} 
			],
			"navbar": {
				"title": ''
			}
		  });
		$("nav#mobil_mmenu").removeClass('dnone');
	});
	//--></script>
{% endif %} 
<script><!--
if (!localStorage.getItem('display')) {
{% if (setting_catalog_all['vid_default'] == 'vid_price') %} 
	localStorage.setItem('display', 'price');
{% elseif (setting_catalog_all['vid_default'] == 'vid_list') %} 
	localStorage.setItem('display', 'list');
{% else %} 
	localStorage.setItem('display', 'grid');
{% endif %} 
}
{% if (zadergka) %} 
	$("#top3 #menu .nav").removeClass('dblock_zadergkaoff').addClass('dblock_zadergka');
	var global_menu2_button;
	$("#top3 #menu .nav > li").hover(function(){
		var this_li = $(this);
		global_menu2_button = setTimeout(function() {
		this_li.find('.mmmenu .dropdown-menu').addClass('dblockdr');
	}, 250)
	},function(){
		$(this).find('.mmmenu .dropdown-menu').removeClass('dblockdr');
		clearTimeout(global_menu2_button);
	});
{% endif %} 
$(function () {
  $("#menu .nav > li .mmmenu").mouseenter(function(){
		$('#pagefader').fadeIn(70);
		$('body').addClass('razmiv');
   });
	$("#menu .nav > li .mmmenu").mouseleave(function(){
		$('#pagefader').fadeOut(70);
		$('body').removeClass('razmiv');
   });
});
{% if (not setting_catalog_all['category_desc']) %} 
	$('.footer-category').append($('.category_description'));
	$('.category_description').removeClass('dnone');
{% endif %} 
{% if (setting_catalog_all['img_slider']) %} 
	function podgon_img(){
		$('.owlproduct').each(function(indx, element){
			var data = $(element).data('owlCarousel');
			data && data.reinit({navigation: true})
		});
		{% if (setting_catalog_all['img_slider'] == '2') %} 
			if($(window).width() > 974) {
				$('.owl-item:eq(0)', '.image.owlproduct').mouseover(function(){
					if ($(this).parent().find('.owl-item:eq(1)').length > 0) {
						$(this).hide(0);
						$(this).parent().find('.owl-item:eq(1)').mouseleave(function(){
							$(this).parent().find('.owl-item:eq(0)').show(0);
						});
						$('.product-thumb').mouseleave(function(){
							$(this).parent().find('.owl-item:eq(0)').show(0);
						});
					}
				});
			}
		{% endif %} 
	}
{% endif %} 
{% if (setting_catalog_all['img_slider']) %} 
	//$('.product-thumb > .image').css('width', {{ catalog_img_width }});
	$('#content .owlproduct').owlCarousel({
		beforeInit: true,
		items: 1,
		singleItem: true,
		mouseDrag: false,
		autoPlay: false,
		navigation: true,
		navigationText: ['<i class="fa fa-chevron-left fa-3x"></i>', '<i class="fa fa-chevron-right fa-3x"></i>'],
		pagination: false
	});
{% else %} 
	$('.owl-carousel.owlproduct').remove();
{% endif %} 
function list_view(){
	$('#content .products_category .product-grid > .clearfix').remove();
	$('#content .products_category .product-grid, #content .products_category .product-price').attr('class', 'product-layout product-list col-xs-12');
	$('#content .product-list .cart > a').attr('data-toggle', 'none');
	$('#content .product-list .cart > a').attr('title', '');
	$(document).ready(function() {
		var w_list_img = $('.product-list .product-thumb .image').outerWidth();
		{% if (setting_catalog_all['img_slider']) %} 
			$('.product-layout .product-thumb > .image').css('width', {{ catalog_img_width }});
			podgon_img();
		{% endif %} 
	});
	$('.product-list .product-thumb h4').css('height', 'initial');
	$('.product-list .product-thumb .product_buttons').css('height', 'initial');
	$('.product-list .product-thumb .caption').css('margin-left', {{ catalog_img_width }});
	$('.product-list .product-thumb .description_options').addClass('view_list_options');
	$('.product-list .product-thumb .description_options').css('height', 'initial');
	$('.product-layout.product-list').css('height', 'initial');
	$('#grid-view, #price-view').removeClass('active');
	$('#list-view').addClass('active');
	localStorage.setItem('display', 'list');
}
function grid_view(){
	cols = $('#column-right, #column-left').length;
	if (cols == 2) {
		$('#content .product-list, #content .product-price').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-12 col-xs-12');
	} else if (cols == 1) {
		$('#content .product-list, #content .product-price').attr('class', 'product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12');
	} else {
		$('#content .product-list, #content .product-price').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12');
	}
	{% if (setting_all_settings['mobil_two']) %} 
		if ($(window).width() > 294 && $(window).width() < 975) {
			$('#content .product-layout.product-grid').attr('class', 'product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-6');
		}
	{% endif %} 
	$('.product-grid .product-thumb .caption').css('margin-left', 'initial');
	$('.product-grid .product-thumb .description_options').removeClass('view_list_options');
	var product_grid_width = $('.product-layout .product-thumb').outerWidth();
	var product_item_width = $('.rev_slider .item .product-thumb').outerWidth();
	if (product_grid_width < 240) {
		$('.product-layout').addClass('new_line');
		$('.rev_slider .item').addClass('new_line');
	} else {
		$('.product-layout').removeClass('new_line');
		$('.rev_slider .item').removeClass('new_line');
	}
	if (product_item_width < 240) {
		$('.rev_slider .item').addClass('new_line');
	} else {
		$('.rev_slider .item').removeClass('new_line');
	}
	{% if (setting_catalog_all['img_slider']) %} 
		$('.product-layout .product-thumb > .image').css('width', '100%');
		var product_grid_width = $('.product-layout .product-thumb').outerWidth();
		if (localStorage.getItem('display') == 'price') {
			if (product_grid_width < 240) {window.setTimeout(function() {podgon_img();},150)} else {podgon_img();}
		} else {
			podgon_img();
		}
	{% endif %} 
	max_height_div('.product-grid .product-thumb h4');
	max_height_div('.product-grid .product-thumb .price');
	max_height_div('.product-grid .product-thumb .product_buttons');
	{% if (not setting_all_settings['cat_opis_opt']) %} 
	setTimeout(function() {
		max_height_div('.product-grid .product-thumb .description_options');
	}, 10);
	{% else %} 
	max_height_div('.product-layout.product-grid');
	{% endif %} 
	$('#list-view, #price-view').removeClass('active');
	$('#grid-view').addClass('active');
	localStorage.setItem('display', 'grid');
}
function price_view(){
	$('#content .products_category .product-grid > .clearfix').remove();
	$('#content .products_category .product-list, #content .products_category .product-grid').attr('class', 'product-layout product-price col-xs-12');
	$('#content .product-view .cart > a').attr('data-toggle', 'none');
	$('#content .product-view .cart > a').attr('title', '');
	$('.product-price .product-thumb h4').css('height', 'initial');
	$('.product-price .product-thumb .caption').css('margin-left', 'initial');
	$('.product-price .product-thumb .product_buttons').css('height', 'initial');
	$('.product-price .product-thumb .description_options').removeClass('view_list_options');
	$('.product-price .product-thumb .description_options').css('height', 'initial');
	$('.product-layout.product-price').css('height', 'initial');
	$('#list-view, #grid-view').removeClass('active');
	$('#price-view').addClass('active');
	localStorage.setItem('display', 'price');
}
$('#list-view').click(function() {
	list_view();
});
$('#grid-view').click(function() {
	grid_view();
});
$('#price-view').click(function() {
	price_view();
});
{% if (setting_all_settings['opacity_cont']) %} 
	$('html').removeClass('opacity_minus').addClass('opacity_plus');
	{% if (not n_progres) %} 
		$(window).load(function() {
			$('html').removeClass('opacity_plus');
		});
	{% endif %} 
{% else %} 
	$('html').removeClass('opacity_minus_products').addClass('opacity_plus_products');
{% endif %} 
{% if (n_progres) %} 
	NProgress.start();
	$(window).load(function() {
		NProgress.done();
		$('html').removeClass('opacity_plus');
	});
{% endif %} 
{% if (sticky) %} 
	if($(window).width() > 768) {
		$('#top3').affix({
			offset: {
				{% if (not setting_all_settings['all_document_width'] and setting_all_settings['all_document_margin'] and not setting_all_settings['all_document_h_f_width']) %} 
					top: $('#top').outerHeight()+$('#top2').outerHeight()+$('html.common-home #menu2.inhome').outerHeight()+20
				{% else %} 
					top: $('#top').outerHeight()+$('#top2').outerHeight()+$('html.common-home #menu2.inhome').outerHeight()
				{% endif %} 
			}
		});
	}
	{% if (not setting_all_settings['all_document_width'] and setting_all_settings['all_document_margin'] and setting_all_settings['all_document_h_f_width']) %} 
		if($(window).width() > 974) {
			$('#all_document').css('margin-top', 60);
		}
	{% endif %} 
	var win_shopcart = $(window).height();
	var win_shopcart2 = $('#top').outerHeight()+$('#top2').outerHeight()+$('#top3').outerHeight();
	//$('#cart .dropdown-menu > li').css('max-height', win_shopcart-win_shopcart2).css('overflow-y', 'auto');
	$('#top3 #menu2 .child-box').css('max-height', win_shopcart-win_shopcart2).css('overflow-y', 'auto');
{% endif %} 
$(function() {
	if (localStorage.getItem('display') == 'list') {
		list_view();
	} else if (localStorage.getItem('display') == 'price') {
		price_view();
	} else if (localStorage.getItem('display') == 'grid') {
		grid_view();
	} else {
		{% if (setting_catalog_all['vid_default'] == 'vid_price') %} 
			price_view();
		{% elseif (setting_catalog_all['vid_default'] == 'vid_list') %} 
			list_view();
		{% elseif (setting_catalog_all['vid_default'] == 'vid_grid') %} 
			grid_view();
		{% endif %} 
	}
	{% if (revtheme_product_all['option_f_auto']) %} 
		var pr_opts_pr = $('.product-info .options_no_buy .form-group');
		pr_opts_pr.find('input[type=\'checkbox\']:first, input[type=\'radio\']:first').each(function() {
			this.checked = true;
			this.onchange();
		});
		pr_opts_pr.find('select:first').each(function() {
			this.options[1].selected=true;
			this.onchange();
		});
		var pr_opts_cat = $('.description_options .product-info .form-group');
		pr_opts_cat.find('input[type=\'checkbox\']:first, .radio:first-child input[type=\'radio\']').each(function() {
			this.checked = true;
			this.onchange();
		});
		pr_opts_cat.find('select:first').each(function() {
			this.options[1].selected=true;
			this.onchange();
		});
		var pr_opts_cat_mf = $('#slider_m_f .product-info .form-group');
		pr_opts_cat_mf.find('input[type=\'checkbox\']:first, .radio:first-child input[type=\'radio\']').each(function() {
			this.checked = true;
			this.onchange();
		});
		pr_opts_cat_mf.find('select:first').each(function() {
			this.options[1].selected=true;
			this.onchange();
		});
	{% endif %} 
	podgon_fona();
	$(window).resize(podgon_fona);
});
function podgon_fona() {
	toggle_ellipses();
	var h_top5 = $('.inhome #menu2').outerHeight();
	if (h_top5) {
		$('#top5').css('min-height', h_top5+20);
	}
	{% if (up_menu_height) %} 
		var h_top4 = $('#top4').outerHeight();
		$('html.common-home #menu2.inhome').css('min-height', h_top4+50);
	{% endif %} 
	var m2inh = $('html.common-home #menu2.inhome').outerHeight();
	$('html.common-home #menu2.inhome .podmenu2').css('height', m2inh);
	var m2inhw = $('html.common-home #menu2_button').outerWidth();
	$('html.common-home #menu2.inhome .podmenu2').css('min-width', m2inhw-0.5);
	{% if (sticky and up_menu_height) %} 
		$('html.common-home #top3.affix #menu2.inhome').css('min-height', 'initial');
		var m2inh = $('html.common-home #menu2.inhome').outerHeight();
		$('html.common-home #top3.affix #menu2.inhome .podmenu2').css('height', m2inh);
		$(document).on('scroll', function(){
			var home_amazon_height = $('#top').outerHeight()+$('#top2').outerHeight()+$('html.common-home #top3 #menu2.inhome').outerHeight();
			if ($(window).scrollTop() > home_amazon_height) {
				$('html.common-home #top3.affix #menu2.inhome').css('min-height', 'initial');
				$('html.common-home #top3.affix #menu2.inhome .podmenu2').css('min-height', 'initial');
			} else {
				var h_top4 = $('#top4').outerHeight();
				$('html.common-home #top3 #menu2.inhome').css('min-height', h_top4+50);
				$('html.common-home #top3 #menu2.inhome .podmenu2').css('min-height', h_top4+50);
			}
		});
	{% endif %} 
	{% if (sticky) %} 
		var h_top3 = $('#top3').outerHeight();
		{% if (not setting_all_settings['all_document_width'] and setting_all_settings['all_document_h_f_width'] and setting_all_settings['all_document_margin']) %} 
		{% else %} 
		$('.main-content').css('padding-top', h_top3+25);
		{% endif %} 
	{% endif %} 
	{% if ((setting_all_settings['all_document_width']) or (not setting_all_settings['all_document_width'] and setting_all_settings['all_document_h_f_width'])) %} 
		$('#top3').addClass('absolutpo');
	{% endif %} 
	if($(window).width() < 767) {
		grid_view();
	}
	{% if (setting_all_settings['mobil_two']) %} 
		if ($(window).width() > 294 && $(window).width() < 975) {
			$('#content .product-layout.product-grid').attr('class', 'product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-6');
		}
	{% endif %} 
	{% if (image_in_ico and not header_menu_type) %} 
		var menu_ico_width = $('.image_in_ico_row').outerWidth();
		$('#menu .nav > li .dropdown-menu').css('width', menu_ico_width-30);
	{% endif %} 

	var product_grid_width = $('.product-layout .product-thumb').outerWidth();
	var product_item_width = $('.rev_slider .item .product-thumb').outerWidth();
	if (product_grid_width < 240) {
		$('.product-layout').addClass('new_line');
		$('.rev_slider .item').addClass('new_line');
	} else {
		$('.product-layout').removeClass('new_line');
		$('.rev_slider .item').removeClass('new_line');
	}
	if (product_item_width < 240) {
		$('.rev_slider .item').addClass('new_line');
	} else {
		$('.rev_slider .item').removeClass('new_line');
	}
	max_height_div('.product-grid .product-thumb h4');
	max_height_div('.product-grid .product-thumb .price');
	max_height_div('.product-grid .product-thumb .product_buttons');
	{% if (not setting_all_settings['cat_opis_opt']) %} 
	setTimeout(function() {
		max_height_div('.product-grid .product-thumb .description_options');
	}, 300);
	{% else %} 
	$('.product-grid .product-thumb').toggleClass('not_vivod_do');
	setTimeout(function() {
		max_height_div('.product-layout.product-grid');
		max_height_div('.rev_slider .owl-carousel .product-layout.col-xs-12');
		$('.product-grid .product-thumb').toggleClass('not_vivod_do');
	}, 50);
	{% endif %} 
	max_height_div('#content .refine_categories.clearfix a > span');
}
function toggle_ellipses() {
  var ellipses1 = $('.br_ellipses');
  var howlong = $('.breadcrumb li:hidden').length;
  if ($('.breadcrumb li:hidden').length > 1) {
    ellipses1.show().css('display', 'inline');
  } else {
    ellipses1.hide();
  }
}

$(document).on('scroll', function() {
	if ($(window).scrollTop() > 100) {
		$('.scroll-top-wrapper').addClass('show');
	} else {
		$('.scroll-top-wrapper').removeClass('show');
	}
});

$('.scroll-top-wrapper').on('click', scrollToTop);
$('.popup-phone-wrapper').on('click', get_revpopup_phone);
function scrollToTop() {
	verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
	element = $('body');
	offset = element.offset();
	offsetTop = offset.top;
	$('html, body').animate({scrollTop: offsetTop}, 200, 'linear');
};
function get_revpopup_notification(m_class, m_header, message) {
	if (document.body.scrollHeight > document.body.offsetHeight) {
		$('#top3.absolutpo').css('right', '8.5px');
		if ($(window).width() < 768) {
			$('#top #cart_mobi').css('margin-right', '17px');
		}
	}
	$('.tooltip').hide();
	$.magnificPopup.open({
		removalDelay: 170,
		callbacks: {
			beforeOpen: function() {
			   this.st.mainClass = 'mfp-zoom-in';
			},
			open: function() {
				$('body').addClass('razmiv2');
				$('#pagefader2').fadeIn(70);
			}, 
			close: function() {
				$('body').removeClass('razmiv2');
				$('#pagefader2').fadeOut(70);
				$('#top3.absolutpo').css('right', 'initial');
				if ($(window).width() < 768) {
					$('#top #cart_mobi').css('margin-right', 'initial');
				}
			}
		},
		tLoading: '',
		items: {
			src: $('<div class="popup_notification"><div class="popup_notification_heading '+m_class+'">'+m_header+'</div><div class="popup_notification_message">'+message+'</div></div>'),
			type: 'inline'
		}
	});
}
function get_revpopup_phone() {
	if (document.body.scrollHeight > document.body.offsetHeight) {
		$('#top3.absolutpo').css('right', '8.5px');
		if ($(window).width() < 768) {
			$('#top #cart_mobi').css('margin-right', '17px');
		}
	}
	$('.tooltip').hide();
	$.magnificPopup.open({
		removalDelay: 170,
		callbacks: {
			beforeOpen: function() {
				this.st.mainClass = 'mfp-zoom-in';
				$('.dropdown-menu.dop_contss').fadeOut(70);
			},
			open: function() {
				$('body').addClass('razmiv2');
				$('#pagefader2').fadeIn(70);
			}, 
			close: function() {
				$('body').removeClass('razmiv2');
				$('#pagefader2').fadeOut(70);
				$('#top3.absolutpo').css('right', 'initial');
				if ($(window).width() < 768) {
					$('#top #cart_mobi').css('margin-right', 'initial');
				}
				$('.dropdown-menu.dop_contss').css('display', '');
			}
		},
		tLoading: '',
		items: {
			src: 'index.php?route=revolution/revpopupphone',
			type: 'ajax'
		}
	});
}
function get_revpopup_view(product_id) {
	if (document.body.scrollHeight > document.body.offsetHeight) {
		$('#top3.absolutpo').css('right', '8.5px');
		if ($(window).width() < 768) {
			$('#top #cart_mobi').css('margin-right', '17px');
		}
	}
	$('.tooltip').hide();
	$.magnificPopup.open({
		removalDelay: 170,
		callbacks: {
			beforeOpen: function() {
			   this.st.mainClass = 'mfp-zoom-in';
			},
			open: function() {
				$('body').addClass('razmiv2');
				$('#pagefader2').fadeIn(70);
			},
			close: function() {
				$('body').removeClass('razmiv2');
				$('#pagefader2').fadeOut(70);
				$('#top3.absolutpo').css('right', 'initial');
				if ($(window).width() < 768) {
					$('#top #cart_mobi').css('margin-right', 'initial');
				}
			}
		},
		tLoading: '',
		items: {
			src: 'index.php?route=revolution/revpopupview&revproduct_id='+product_id,
			type: 'ajax'
		}
	});
}
function get_revpopup_purchase(product_id) {
	if (document.body.scrollHeight > document.body.offsetHeight) {
		$('#top3.absolutpo').css('right', '8.5px');
		if ($(window).width() < 768) {
			$('#top #cart_mobi').css('margin-right', '17px');
		}
	}
	$('.tooltip').hide();
	$.magnificPopup.open({
		removalDelay: 170,
		callbacks: {
			beforeOpen: function() {
			   this.st.mainClass = 'mfp-zoom-in';
			},
			open: function() {
				$('body').addClass('razmiv2');
				$('#pagefader2').fadeIn(70);
			}, 
			close: function() {
				$('body').removeClass('razmiv2');
				$('#pagefader2').fadeOut(70);
				$('#top3.absolutpo').css('right', 'initial');
				if ($(window).width() < 768) {
					$('#top #cart_mobi').css('margin-right', 'initial');
				}
			}
		},
		tLoading: '',
		items: {
			src: 'index.php?route=revolution/revpopuporder&revproduct_id='+product_id,
			type: 'ajax'
		}
	});
}
function get_revpopup_cartquick() {
	$('#cart .dropdown-menu').css('display', 'none');
	if (document.body.scrollHeight > document.body.offsetHeight) {
		$('#top3.absolutpo').css('right', '8.5px');
		if ($(window).width() < 768) {
			$('#top #cart_mobi').css('margin-right', '17px');
		}
	}
	$('.tooltip').hide();
	$.magnificPopup.open({
		removalDelay: 170,
		callbacks: {
			beforeOpen: function() {
			   this.st.mainClass = 'mfp-zoom-in';
			},
			open: function() {
				$('body').addClass('razmiv2');
				$('#pagefader2').fadeIn(70);
			}, 
			close: function() {
				$('body').removeClass('razmiv2');
				$('#pagefader2').fadeOut(70);
				$('#top3.absolutpo').css('right', 'initial');
				if ($(window).width() < 768) {
					$('#top #cart_mobi').css('margin-right', 'initial');
				}
				$('#cart .dropdown-menu').css('display', '');
			}
		},
		tLoading: '',
		items: {
			src: 'index.php?route=revolution/revpopupcartquick',
			type: 'ajax'
		}
	});
}
function get_revpopup_cart( product_id, action, quantity, block_id ) {
	$('.tooltip').hide();
	quantity = typeof(quantity) != 'undefined' ? quantity : 1;
	if ( action == "catalog" ) {
		data = $('.products_category .product_'+product_id+' .options input[type=\'text\'], .products_category .product_'+product_id+' .options input[type=\'hidden\'], .products_category .product_'+product_id+' .options input[type=\'radio\']:checked, .products_category .product_'+product_id+' .options input[type=\'checkbox\']:checked, .products_category .product_'+product_id+' .options select');
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
			dataType: 'json',
			success: function( json ) {
				$('.alert, .text-danger').remove();
				$('.form-group').removeClass('has-error');
				$('.success, .warning, .attention, information, .error').remove();
				{% if (not description_options['options_in_cat']) %} 
				if ( json['redirect'] ) {
					location = json['redirect'];
				}
				{% else %} 
				if (localStorage.getItem('display') == 'price' || block_id) {
					if ( json['redirect'] ) {
						location = json['redirect'];
					}
				{% if (not description_options['options_in_grid']) %} 
				} else if (localStorage.getItem('display') == 'grid') {
					if ( json['redirect'] ) {
						location = json['redirect'];
					}
				{% endif %} 
				} else {
					$('.products_category .form-group.required').removeClass('opt_required');
					if (json['error']) {
						$('body').removeClass('razmiv2');
						$('#pagefader2').fadeOut(70);
						$('#top3.absolutpo').css('right', 'initial');
						if ($(window).width() < 768) {
							$('#top #cart_mobi').css('margin-right', 'initial');
						}
						if (json['error']['option']) {
							if ($(window).width() < 768) {
								if (json['redirect']) {
									location = json['redirect'];
								}
							} else {
								for (i in json['error']['option']) {
									$('.products_category #input-option' + i).parent().addClass('opt_required');
								}
							}
						}
					}
				}
				{% endif %} 
				if ( json['success'] ) {
					{% if (revtheme_header_cart['cart_vspl'] == '1') %} 
						if (document.body.scrollHeight > document.body.offsetHeight) {
							$('#top3.absolutpo').css('right', '8.5px');
							if ($(window).width() < 768) {
								$('#top #cart_mobi').css('margin-right', '17px');
							}
						}
						$.magnificPopup.open({
						removalDelay: 170,
						callbacks: {
							beforeOpen: function() {
							   this.st.mainClass = 'mfp-zoom-in';
							},
							close: function() {
								$('body').removeClass('razmiv2');
								$('#pagefader2').fadeOut(70);
								$('#top3.absolutpo').css('right', 'initial');
								if ($(window).width() < 768) {
									$('#top #cart_mobi').css('margin-right', 'initial');
								}
							}
						},
						tLoading: '',
						items: {
							src: 'index.php?route=revolution/revpopupcart',
							type: 'ajax'
						}
						});
					{% elseif (revtheme_header_cart['cart_vspl'] == '2') %} 
						location = json['redirect_cart'];
					{% else %} 
						{% if (setting_catalog_all['img_slider']) %} 
						tmp_img = $('.products_category .product_'+product_id+' .image .owl-item:first-child img');
						{% else %} 
						tmp_img = $('.products_category .product_'+product_id+' .image img');
						{% endif %} 
						{% if (setting_all_settings['mobile_header']) %} 
							if ($(window).width() < 768) {
								header_cart_element = "#top #cart_mobi";
							} else {
								header_cart_element = "#top3 #cart";
							}
						{% else %} 
							header_cart_element = "#top3 #cart";
						{% endif %} 
						$(tmp_img)
							.clone()
							.css({width : $('.product-price .image').outerWidth(), 'position' : 'absolute', 'z-index' : '999', top: $('.products_category .product_'+product_id+' .image img').offset().top, left: $('.products_category .product_'+product_id+' .image img').offset().left})
							.appendTo("body")
							.animate({opacity: 0.3,
								left: $(header_cart_element).offset()['left'],
								top: $(header_cart_element).offset()['top']+15,
								width: 10}, 800, function() {
								$(this).remove();
							});
					{% endif %} 
					$('#top #cart-total_mobi').html(json['total']);
					$('#top3 #cart-total').html(json['total']);
					$('#top3 #cart-total-popup').html(json['total']);
					$('#cart > ul').load('index.php?route=common/cart/info ul li');
					{% if (setting_catalog_all['product_in_cart']) %} 
						setTimeout(function() {
							$('.product-thumb.product_'+ product_id +' .image .pr_in_cart_i').remove();
							$('.product-thumb.product_'+ product_id +' .image').append('<div class="pr_in_cart_i"><i class="fa fa-check"></i></div>');
						}, 300);
					{% endif %} 
				}
			}
		});
	}
	if ( action == "catalog_mod" ) {
		data = $('.products_category .product_'+product_id+' .options input[type=\'text\'], .products_category .product_'+product_id+' .options input[type=\'hidden\'], .products_category .product_'+product_id+' .options input[type=\'radio\']:checked, .products_category .product_'+product_id+' .options input[type=\'checkbox\']:checked, .products_category .product_'+product_id+' .options select');
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
			dataType: 'json',
			success: function( json ) {
				$('.alert, .text-danger').remove();
				$('.form-group').removeClass('has-error');
				$('.success, .warning, .attention, information, .error').remove();

				if ( json['redirect'] ) {
					location = json['redirect'];
				}
				
				if ( json['success'] ) {
					{% if (revtheme_header_cart['cart_vspl'] == '1') %} 
						if (document.body.scrollHeight > document.body.offsetHeight) {
							$('#top3.absolutpo').css('right', '8.5px');
							if ($(window).width() < 768) {
								$('#top #cart_mobi').css('margin-right', '17px');
							}
						}
						$.magnificPopup.open({
						removalDelay: 170,
						callbacks: {
							beforeOpen: function() {
							   this.st.mainClass = 'mfp-zoom-in';
							},
							close: function() {
								$('body').removeClass('razmiv2');
								$('#pagefader2').fadeOut(70);
								$('#top3.absolutpo').css('right', 'initial');
								if ($(window).width() < 768) {
									$('#top #cart_mobi').css('margin-right', 'initial');
								}
							}
						},
						tLoading: '',
						items: {
							src: 'index.php?route=revolution/revpopupcart',
							type: 'ajax'
						}
						});
					{% elseif (revtheme_header_cart['cart_vspl'] == '2') %} 
						location = json['redirect_cart'];
					{% else %} 
						{% if (setting_all_settings['mobile_header']) %} 
							if ($(window).width() < 768) {
								header_cart_element = "#top #cart_mobi";
							} else {
								header_cart_element = "#top3 #cart";
							}
						{% else %} 
							header_cart_element = "#top3 #cart";
						{% endif %} 
						tmp_img = $('.products_category .product_'+product_id+' .image img');
						$(tmp_img)
							.clone()
							.css({width : $('.products_category .product_'+product_id+' .image img').outerWidth(), 'position' : 'absolute', 'z-index' : '999', top: $('.products_category .product_'+product_id+' .image img').offset().top, left: $('.products_category .product_'+product_id+' .image img').offset().left})
							.appendTo("body")
							.animate({opacity: 0.3,
								left: $(header_cart_element).offset()['left'],
								top: $(header_cart_element).offset()['top']+15,
								width: 10}, 800, function() {
								$(this).remove();
							});
					{% endif %} 
					$('#top #cart-total_mobi').html(json['total']);
					$('#top3 #cart-total').html(json['total']);
					$('#top3 #cart-total-popup').html(json['total']);
					$('#cart > ul').load('index.php?route=common/cart/info ul li');
					{% if (setting_catalog_all['product_in_cart']) %} 
						setTimeout(function() {
							$('.product-thumb.product_'+ product_id +' .image .pr_in_cart_i').remove();
							$('.product-thumb.product_'+ product_id +' .image').append('<div class="pr_in_cart_i"><i class="fa fa-check"></i></div>');
						}, 300);
					{% endif %} 
				}
			}
		});
	}
	if ( action == "product" ) {
		data = $('.product_informationss .product-info input[type=\'text\'], .product_informationss .product-info input[type=\'hidden\'], .product_informationss .product-info input[type=\'radio\']:checked, .product_informationss .product-info input[type=\'checkbox\']:checked, .product_informationss .product-info select, .product_informationss .product-info textarea'),
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
			dataType: 'json',
			{% if (revtheme_header_cart['cart_vspl'] == '1') %} 
			beforeSend: function(){
				$('body').addClass('razmiv2');
				$('#pagefader2').fadeIn(70);
			},
			{% endif %} 
			success: function( json ) {
				$('.alert, .text-danger').remove();
				$('.form-group').removeClass('has-error');
				$('.success, .warning, .attention, information, .error').remove();
				if (json['error']) {
					$('body').removeClass('razmiv2');
					$('#pagefader2').fadeOut(70);
					$('#top3.absolutpo').css('right', 'initial');
					if ($(window).width() < 768) {
						$('#top #cart_mobi').css('margin-right', 'initial');
					}
					if (json['error']['option']) {
						for (i in json['error']['option']) {
							$('#input-option' + i).before('<span class="error bg-danger">' + json['error']['option'][i] + '</span>');
							if ($(window).width() < 768) {
								$('html, body').animate({scrollTop:$('.error').offset().top - 40}, 'linear');
							}
						}
					}
				}
				if ( json['success'] ) {
					{% if (revtheme_header_cart['cart_vspl'] == '1') %} 
						if (document.body.scrollHeight > document.body.offsetHeight) {
							$('#top3.absolutpo').css('right', '8.5px');
							if ($(window).width() < 768) {
								$('#top #cart_mobi').css('margin-right', '17px');
							}
						}
						$.magnificPopup.open({
							removalDelay: 170,
							callbacks: {
								beforeOpen: function() {
								   this.st.mainClass = 'mfp-zoom-in';
								},
								close: function() {
									$('body').removeClass('razmiv2');
									$('#pagefader2').fadeOut(70);
									$('#top3.absolutpo').css('right', 'initial');
									if ($(window).width() < 768) {
										$('#top #cart_mobi').css('margin-right', 'initial');
									}
								}
							},
							tLoading: '',
							items: {
								src: 'index.php?route=revolution/revpopupcart',
								type: 'ajax'
							}
						});
					{% elseif (revtheme_header_cart['cart_vspl'] == '2') %} 
						location = json['redirect_cart'];
					{% else %} 
						{% if (setting_all_settings['mobile_header']) %} 
							if ($(window).width() < 768) {
								header_cart_element = "#top #cart_mobi";
							} else {
								header_cart_element = "#top3 #cart";
							}
						{% else %} 
							header_cart_element = "#top3 #cart";
						{% endif %} 
						tmp_img = $('.main-image img')
						$(tmp_img)
							.clone()
							.css({'position' : 'absolute', 'z-index' : '999', top: $('.main-image img').offset().top, left: $('.main-image img').offset().left})
							.appendTo("body")
							.animate({opacity: 0.3,
								left: $(header_cart_element).offset()['left'],
								top: $(header_cart_element).offset()['top']+15,
								width: 10}, 800, function() {
								$(this).remove();
							});
					{% endif %} 
					$('#top #cart-total_mobi').html(json['total']);
					$('#top3 #cart-total').html(json['total']);
					$('#top3 #cart-total-popup').html(json['total']);
					$('#cart > ul').load('index.php?route=common/cart/info ul li');
					{% if (setting_catalog_all['product_in_cart']) %} 
						setTimeout(function() {
							$('.product-thumb.product_'+ product_id +' .image .pr_in_cart_i').remove();
							$('.product-thumb.product_'+ product_id +' .image').append('<div class="pr_in_cart_i"><i class="fa fa-check"></i></div>');
						}, 300);
					{% endif %} 
				}
			}
		});
	}
	if ( action == "popup_product" ) {
		data = $('#popup-view-wrapper .product-info input[type=\'text\'], #popup-view-wrapper .product-info input[type=\'hidden\'], #popup-view-wrapper .product-info input[type=\'radio\']:checked, #popup-view-wrapper .product-info input[type=\'checkbox\']:checked, #popup-view-wrapper .product-info select, #popup-view-wrapper .product-info textarea');
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
			dataType: 'json',
			{% if (revtheme_header_cart['cart_vspl'] == '1') %} 
			beforeSend: function(){
				$('body').addClass('razmiv2');
				$('#pagefader2').fadeIn(70);
			},
			{% endif %} 
			success: function( json ) {
				$('.alert, .text-danger').remove();
				$('.form-group').removeClass('has-error');
				$('.success, .warning, .attention, information, .error').remove();			
				if (json['error']) {
					$('body').removeClass('razmiv2');
					$('#pagefader2').fadeOut(70);
					$('#top3.absolutpo').css('right', 'initial');
					if ($(window).width() < 768) {
						$('#top #cart_mobi').css('margin-right', 'initial');
					}
					if (json['error']['option']) {
						if ($(window).width() < 768) {
							if (json['redirect']) {
								location = json['redirect'];
							}
						} else {
							for (i in json['error']['option']) {
								$('#input-option' + i).before('<span class="error bg-danger">' + json['error']['option'][i] + '</span>');
							}
						}
					}
				}
				if ( json['success'] ) {
					{% if (revtheme_header_cart['cart_vspl'] == '1') %} 
						if (document.body.scrollHeight > document.body.offsetHeight) {
							$('#top3.absolutpo').css('right', '8.5px');
							if ($(window).width() < 768) {
								$('#top #cart_mobi').css('margin-right', '17px');
							}
						}
						$.magnificPopup.open({
							removalDelay: 170,
							callbacks: {
								beforeOpen: function() {
								   this.st.mainClass = 'mfp-zoom-in';
								},
								close: function() {
									$('body').removeClass('razmiv2');
									$('#pagefader2').fadeOut(70);
									$('#top3.absolutpo').css('right', 'initial');
									if ($(window).width() < 768) {
										$('#top #cart_mobi').css('margin-right', 'initial');
									}
								}
							},
							tLoading: '',
							items: {
								src: 'index.php?route=revolution/revpopupcart',
								type: 'ajax'
							}
						});
					{% elseif (revtheme_header_cart['cart_vspl'] == '2') %} 
						location = json['redirect_cart'];
					{% else %} 
						$.magnificPopup.close();
					{% endif %}	
					$('#top #cart-total_mobi').html(json['total']);
					$('#top3 #cart-total').html(json['total']);
					$('#top3 #cart-total-popup').html(json['total']);
					$('#cart > ul').load('index.php?route=common/cart/info ul li');
					{% if (setting_catalog_all['product_in_cart']) %} 
						setTimeout(function() {
							$('.product-thumb.product_'+ product_id +' .image .pr_in_cart_i').remove();
							$('.product-thumb.product_'+ product_id +' .image').append('<div class="pr_in_cart_i"><i class="fa fa-check"></i></div>');
						}, 300);
					{% endif %} 
				}
			}
		});
	}
	if ( action == "show_cart" ) {
		if (document.body.scrollHeight > document.body.offsetHeight) {
			$('#top3.absolutpo').css('right', '8.5px');
			if ($(window).width() < 768) {
				$('#top #cart_mobi').css('margin-right', '17px');
			}
		}
		$.magnificPopup.open({
			removalDelay: 170,
			callbacks: {
				beforeOpen: function() {
				   this.st.mainClass = 'mfp-zoom-in';
				},
				open: function() {
					$('body').addClass('razmiv2');
					$('#pagefader2').fadeIn(70);
				}, 
				close: function() {
					$('body').removeClass('razmiv2');
					$('#pagefader2').fadeOut(70);
					$('#top3.absolutpo').css('right', 'initial');
					if ($(window).width() < 768) {
						$('#top #cart_mobi').css('margin-right', 'initial');
					}
				}
			},
			tLoading: '',
			items: {
				src: 'index.php?route=revolution/revpopupcart',
				type: 'ajax'
			}
		});
	}
	if ( action == "redirect_cart" ) {
		  window.location.href = "/index.php?route=checkout/checkout"
	}
	if ( action == "module" ) {
		quantity = typeof(quantity) != 'undefined' ? quantity : 1;
		data = $('#'+block_id+' .product_'+product_id+' .options input[type=\'text\'], #'+block_id+' .product_'+product_id+' .options input[type=\'hidden\'], #'+block_id+' .product_'+product_id+' .options input[type=\'radio\']:checked, #'+block_id+' .product_'+product_id+' .options input[type=\'checkbox\']:checked, #'+block_id+' .product_'+product_id+' .options select');
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
			dataType: 'json',
			success: function( json ) {
				$('.alert, .text-danger').remove();
				$('.form-group').removeClass('has-error');
				$('.success, .warning, .attention, information, .error').remove();
				{% if (not description_options['options_in_cat'] or not description_options['options_in_grid'] or not revtheme_home_all['pr_opisanie']) %} 
				if ( json['redirect'] ) {
					location = json['redirect'];
				}
				{% else %} 
				$('#'+block_id+' .form-group.required').removeClass('opt_required');
				if (json['error']) {
					$('body').removeClass('razmiv2');
					$('#pagefader2').fadeOut(70);
					$('#top3.absolutpo').css('right', 'initial');
					if ($(window).width() < 768) {
						$('#top #cart_mobi').css('margin-right', 'initial');
					}
					if (json['error']['option']) {
						if ($(window).width() < 768) {
							if (json['redirect']) {
								location = json['redirect'];
							}
						} else {
							for (i in json['error']['option']) {
								$('#'+block_id+' #input-option' + i).parent().addClass('opt_required');
							}
						}
					}
				}
				{% endif %} 
				if ( json['success'] ) {
					{% if (revtheme_header_cart['cart_vspl'] == '1') %} 
						if (document.body.scrollHeight > document.body.offsetHeight) {
							$('#top3.absolutpo').css('right', '8.5px');
							if ($(window).width() < 768) {
								$('#top #cart_mobi').css('margin-right', '17px');
							}
						}
						$.magnificPopup.open({
						removalDelay: 170,
						callbacks: {
							beforeOpen: function() {
							   this.st.mainClass = 'mfp-zoom-in';
							},
							close: function() {
								$('body').removeClass('razmiv2');
								$('#pagefader2').fadeOut(70);
								$('#top3.absolutpo').css('right', 'initial');
								if ($(window).width() < 768) {
									$('#top #cart_mobi').css('margin-right', 'initial');
								}
							}
						},
						tLoading: '',
						items: {
							src: 'index.php?route=revolution/revpopupcart',
							type: 'ajax'
						}
						});
					{% elseif (revtheme_header_cart['cart_vspl'] == '2') %} 
						location = json['redirect_cart'];
					{% else %} 
						{% if (setting_catalog_all['img_slider']) %} 
						tmp_img = $('#'+block_id+' .product_'+product_id+' .image .owl-item:first-child img');
						{% else %} 
						tmp_img = $('#'+block_id+' .product_'+product_id+' .image img');
						{% endif %} 
						{% if (setting_all_settings['mobile_header']) %} 
							if ($(window).width() < 768) {
								header_cart_element = "#top #cart_mobi";
							} else {
								header_cart_element = "#top3 #cart";
							}
						{% else %} 
							header_cart_element = "#top3 #cart";
						{% endif %} 
						$(tmp_img)
							.clone()
							.css({'position' : 'absolute', 'z-index' : '999', top: $('#'+block_id+' .product_'+product_id+' .image img').offset().top, left: $('#'+block_id+' .product_'+product_id+' .image img').offset().left})
							.appendTo("body")
							.animate({opacity: 0.3,
								left: $(header_cart_element).offset()['left'],
								top: $(header_cart_element).offset()['top']+15,
								width: 10}, 800, function() {
								$(this).remove();
							});
					{% endif %} 
					$('#top #cart-total_mobi').html(json['total']);
					$('#top3 #cart-total').html(json['total']);
					$('#top3 #cart-total-popup').html(json['total']);
					$('#cart > ul').load('index.php?route=common/cart/info ul li');
					{% if (setting_catalog_all['product_in_cart']) %} 
						setTimeout(function() {
							$('.product-thumb.product_'+ product_id +' .image .pr_in_cart_i').remove();
							$('.product-thumb.product_'+ product_id +' .image').append('<div class="pr_in_cart_i"><i class="fa fa-check"></i></div>');
						}, 300);
					{% endif %} 
				}
			}
		});
	}
	if ( action == "module_in_product" ) {
		quantity = typeof(quantity) != 'undefined' ? quantity : 1;
		data = $('#'+block_id+' .product_'+product_id+' .options input[type=\'text\'], #'+block_id+' .product_'+product_id+' .options input[type=\'hidden\'], #'+block_id+' .product_'+product_id+' .options input[type=\'radio\']:checked, #'+block_id+' .product_'+product_id+' .options input[type=\'checkbox\']:checked, #'+block_id+' .product_'+product_id+' .options select');
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
			dataType: 'json',
			{% if (revtheme_header_cart['cart_vspl'] == '1') %} 
			beforeSend: function(){
				$('body').addClass('razmiv2');
				$('#pagefader2').fadeIn(70);
			},
			{% endif %} 
			success: function( json ) {
				$('.alert, .text-danger').remove();
				$('.form-group').removeClass('has-error');
				$('.success, .warning, .attention, information, .error').remove();
				{% if (not description_options['options_in_cat'] or not description_options['options_in_grid']) %} 
				if ( json['redirect'] ) {
					location = json['redirect'];
				}
				{% else %} 
				$('#'+block_id+' .form-group.required').removeClass('opt_required');
				if (json['error']) {
					$('body').removeClass('razmiv2');
					$('#pagefader2').fadeOut(70);
					$('#top3.absolutpo').css('right', 'initial');
					if ($(window).width() < 768) {
						$('#top #cart_mobi').css('margin-right', 'initial');
					}
					if (json['error']['option']) {
						if ($(window).width() < 768) {
							if (json['redirect']) {
								location = json['redirect'];
							}
						} else {
							for (i in json['error']['option']) {
								$('#'+block_id+' #input-option' + i).parent().addClass('opt_required');
							}
						}
					}
				}
				{% endif %} 
				if ( json['success'] ) {
					{% if (revtheme_header_cart['cart_vspl'] == '1') %} 
						if (document.body.scrollHeight > document.body.offsetHeight) {
							$('#top3.absolutpo').css('right', '8.5px');
							if ($(window).width() < 768) {
								$('#top #cart_mobi').css('margin-right', '17px');
							}
						}
						$.magnificPopup.open({
						removalDelay: 170,
						callbacks: {
							beforeOpen: function() {
							   this.st.mainClass = 'mfp-zoom-in';
							},
							close: function() {
								$('body').removeClass('razmiv2');
								$('#pagefader2').fadeOut(70);
								$('#top3.absolutpo').css('right', 'initial');
								if ($(window).width() < 768) {
									$('#top #cart_mobi').css('margin-right', 'initial');
								}
							}
						},
						tLoading: '',
						items: {
							src: 'index.php?route=revolution/revpopupcart',
							type: 'ajax'
						}
						});
					{% elseif (revtheme_header_cart['cart_vspl'] == '2') %} 
						location = json['redirect_cart'];
					{% else %} 
						{% if (setting_catalog_all['img_slider']) %} 
						tmp_img = $('#'+block_id+' .product_'+product_id+' .image .owl-item:first-child img');
						{% else %} 
						tmp_img = $('#'+block_id+' .product_'+product_id+' .image img');
						{% endif %} 
						{% if (setting_all_settings['mobile_header']) %} 
							if ($(window).width() < 768) {
								header_cart_element = "#top #cart_mobi";
							} else {
								header_cart_element = "#top3 #cart";
							}
						{% else %} 
							header_cart_element = "#top3 #cart";
						{% endif %} 
						$(tmp_img)
							.clone()
							.css({'position' : 'absolute', 'z-index' : '999', top: $('#'+block_id+' .product_'+product_id+' .image img').offset().top, left: $('#'+block_id+' .product_'+product_id+' .image img').offset().left})
							.appendTo("body")
							.animate({opacity: 0.3,
								left: $(header_cart_element).offset()['left'],
								top: $(header_cart_element).offset()['top']+15,
								width: 10}, 800, function() {
								$(this).remove();
							});
					{% endif %} 
					$('#top #cart-total_mobi').html(json['total']);
					$('#top3 #cart-total').html(json['total']);
					$('#top3 #cart-total-popup').html(json['total']);
					$('#cart > ul').load('index.php?route=common/cart/info ul li');
					{% if (setting_catalog_all['product_in_cart']) %} 
						setTimeout(function() {
							$('.product-thumb.product_'+ product_id +' .image .pr_in_cart_i').remove();
							$('.product-thumb.product_'+ product_id +' .image').append('<div class="pr_in_cart_i"><i class="fa fa-check"></i></div>');
						}, 300);
					{% endif %} 
				}
			}
		});
	}
}
function get_revpopup_cart_option (opt_id, option, quantity, product_id) {
	$('.tooltip').hide();
	$('.options_buy .pro_'+option+' input[name=\'option['+opt_id+']\']').val(option);
	data = $('.product-info .options_buy .pro_'+option+' input[type=\'text\'], .product-info .options_buy .pro_'+option+' input[type=\'hidden\'], .product-info .options_buy .pro_'+option+' input[type=\'radio\']:checked, .product-info .options_buy .pro_'+option+' input[type=\'checkbox\']:checked, .product-info .options_buy .pro_'+option+' select, .product-info .options_buy .pro_'+option+' textarea');
    $.ajax({
        url: 'index.php?route=checkout/cart/add',
        type: 'post',
		data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
        dataType: 'json',
		{% if (revtheme_header_cart['cart_vspl'] == '1') %} 
			beforeSend: function(){
				$('body').addClass('razmiv2');
				$('#pagefader2').fadeIn(70);
			},
		{% endif %} 
        success: function( json ) {
			$('.alert, .text-danger').remove();
			$('.form-group').removeClass('has-error');
			$('.success, .warning, .attention, information, .error').remove();
			if (json['error']) {
				$('body').removeClass('razmiv2');
				$('#pagefader2').fadeOut(70);
				$('#top3.absolutpo').css('right', 'initial');
				if ($(window).width() < 768) {
					$('#top #cart_mobi').css('margin-right', 'initial');
				}
			}
			if ( json['success'] ) {
				{% if (revtheme_header_cart['cart_vspl'] == '1') %} 
					if (document.body.scrollHeight > document.body.offsetHeight) {
						$('#top3.absolutpo').css('right', '8.5px');
						if ($(window).width() < 768) {
							$('#top #cart_mobi').css('margin-right', '17px');
						}
					}
					$.magnificPopup.open({
						removalDelay: 170,
						callbacks: {
							beforeOpen: function() {
							   this.st.mainClass = 'mfp-zoom-in';
							},
							close: function() {
								$('body').removeClass('razmiv2');
								$('#pagefader2').fadeOut(70);
								$('#top3.absolutpo').css('right', 'initial');
								if ($(window).width() < 768) {
									$('#top #cart_mobi').css('margin-right', 'initial');
								}
							}
						},
						tLoading: '',
						items: {
							src: 'index.php?route=revolution/revpopupcart',
							type: 'ajax'
						}
					});
				{% elseif (revtheme_header_cart['cart_vspl'] == '2') %} 
						location = json['redirect_cart'];
				{% else %} 
					{% if (setting_all_settings['mobile_header']) %} 
						if ($(window).width() < 768) {
							header_cart_element = "#top #cart_mobi";
						} else {
							header_cart_element = "#top3 #cart";
						}
					{% else %} 
						header_cart_element = "#top3 #cart";
					{% endif %} 
					tmp_img = $('.main-image img')
					$(tmp_img)
						.clone()
						.css({'position' : 'absolute', 'z-index' : '999', top: $('.main-image img').offset().top, left: $('.main-image img').offset().left})
						.appendTo("body")
						.animate({opacity: 0.3,
							left: $(header_cart_element).offset()['left'],
							top: $(header_cart_element).offset()['top']+15,
							width: 10}, 800, function() {
							$(this).remove();
						});
				{% endif %} 
				$('#top #cart-total_mobi').html(json['total']);
				$('#top3 #cart-total').html(json['total']);
				$('#top3 #cart-total-popup').html(json['total']);
				$('#cart > ul').load('index.php?route=common/cart/info ul li');
				{% if (setting_catalog_all['product_in_cart']) %} 
					setTimeout(function() {
						$('.product-thumb.product_'+ product_id +' .image .pr_in_cart_i').remove();
						$('.product-thumb.product_'+ product_id +' .image').append('<div class="pr_in_cart_i"><i class="fa fa-check"></i></div>');
					}, 300);
				{% endif %} 
			}
		}
    });
}
function get_revpopup_login() {
	if (document.body.scrollHeight > document.body.offsetHeight) {
		$('#top3.absolutpo').css('right', '8.5px');
		if ($(window).width() < 768) {
			$('#top #cart_mobi').css('margin-right', '17px');
		}
	}
	$('.tooltip').hide();
	$.magnificPopup.open({
		removalDelay: 170,
		callbacks: {
			beforeOpen: function() {
			   this.st.mainClass = 'mfp-zoom-in';
			},
			open: function() {
				$('body').addClass('razmiv2');
				$('#pagefader2').fadeIn(70);
			}, 
			close: function() {
				$('body').removeClass('razmiv2');
				$('#pagefader2').fadeOut(70);
				$('#top3.absolutpo').css('right', 'initial');
				if ($(window).width() < 768) {
					$('#top #cart_mobi').css('margin-right', 'initial');
				}
			}
		},
		tLoading: '',
		items: {
			src: 'index.php?route=revolution/revpopuplogin',
			type: 'ajax'
		}
	});
}
$(document).on('click', '.tel .dropdown-menu', function (e) {
	$(this).hasClass('dropdown-menu-right') && e.stopPropagation();
});

{% if (modal_status) %} 
	function getModalButtons() {
		{% if (modal_buttons) %} 
			return modal = true;
		{% else %} 
			return modal = false;
		{% endif %} 
	}
	function getCookie(name) {
	var matches = document.cookie.match(new RegExp(
		"(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
	));
	return matches ? decodeURIComponent(matches[1]) : undefined;
	}
	if (!getCookie('revmodal')) {
		$(document).ready(setTimeout(function() {
			if (document.body.scrollHeight > document.body.offsetHeight) {
				$('#top3.absolutpo').css('right', '8.5px');
				if ($(window).width() < 768) {
					$('#top #cart_mobi').css('margin-right', '17px');
				}
			}
			$.magnificPopup.open({
				removalDelay: 170,
				modal: getModalButtons(),
				callbacks: {
					beforeOpen: function() {
						this.st.mainClass = 'mfp-zoom-in';
						$('.dropdown-menu.dop_contss').fadeOut(70);
					},
					open: function() {
						$('body').addClass('razmiv2');
						$('#pagefader2').fadeIn(70);
					}, 
					close: function() {
						$('body').removeClass('razmiv2');
						$('#pagefader2').fadeOut(70);
						$('#top3.absolutpo').css('right', 'initial');
						if ($(window).width() < 768) {
							$('#top #cart_mobi').css('margin-right', 'initial');
						}
						$('.dropdown-menu.dop_contss').css('display', '');
					}
				},
				tLoading: '',
				items: {
					src: 'index.php?route=revolution/revmodal',
					type: 'ajax'
				}
			});
			$(document).on('click', '.popup-modal-dismiss', function (e) {
				e.preventDefault();
				$.magnificPopup.close();
			});
		}, 1000));
	}
{% endif %} 

{% if (not revtheme_filter['status'] or revfilter_route) %} 
	{% if (setting_catalog_all['pagination'] != 'standart') %} 
		{% if (setting_catalog_all['pagination'] == 'standart_knopka') %} 
		var button_more = true; var pagination_exist = true; var autoscroll = false;
		{% elseif (setting_catalog_all['pagination'] == 'auto') %} 
		var button_more = false; var pagination_exist = true; var autoscroll = true;
		{% else %} 
		var button_more = true; var pagination_exist = false; var autoscroll = false;
		{% endif %} 
		var window_height = 0; var product_block_offset = 0; var product_block = '.row > .product-layout'; var pages_count = 0; var pages = [];
		function gettNextProductPage(pages, pages_count) {
			if (pages_count >= pages.length) return;
			masked('.row > .product-layout > .product-thumb', true);
			$.ajax({
				url:pages[pages_count], 
				type:"GET", 
				data:'',
				beforeSend: function(){
					$('.load_more .fa-refresh').addClass('fa-spin');
				},
				success:function (data) {
					$data = $(data);
					masked('.row > .product-layout > .product-thumb', false);
					$data.find('.row > .product-layout > .product-thumb').addClass('op_dblock1');
					if ($data) {
						if (localStorage.getItem('display') == 'list') {
							$(product_block).parent().append($data.find('#content .product-layout').parent().html());
							list_view();
							if (product_block == '.product-grid') {grid_view();};
						} else if (localStorage.getItem('display') == 'price') {
							$(product_block).parent().append($data.find('#content .product-layout').parent().html());
							price_view();
						} else {
							$(product_block).parent().append($data.find('#content .product-layout').parent().html());
							grid_view();
						}
						if (pagination_exist) {
							$('.pagination').html($data.find('.pagination'));
						}
						$('.load_more .fa-refresh').removeClass('fa-spin').css('hover');
						if (pages_count+1 >= pages.length) {$('.load_more').hide();};
						setTimeout(function() {
							$('.row > .product-layout > .product-thumb').removeClass('op_dblock1').addClass('op_dblock2');
						}, 220)
					}
				}
			});
		}
		$(document).ready(function(){
			window_height = $(window).height();
			var button_more_block = $('#load_more').html();
			if ($(product_block).length > 0) {
				product_block_offset = $(product_block).offset().top;
				var href = $('.pagination').find('li:last a').attr('href');
				$('.pagination').each(function(){
					if (href) {
						TotalPages = href.substring(href.indexOf("page=")+5);
						First_index = $(this).find('li.active span').html();
						i = parseInt(First_index) + 1;
						while (i <= TotalPages) {
							pages.push(href.substring(0,href.indexOf("page=")+5) + i);
							i++;
						}
					}		
				});	
				if (button_more && href) {
					$('.pagination').parent().parent().before(button_more_block);
					if (!pagination_exist) {
						$('.pagpages').addClass('dnone');
					}
					$(".load_more").click(function(event) {
						event.preventDefault();
						gettNextProductPage(pages, pages_count);
						pages_count++;
						setTimeout(function() {
							if (pages_count > 0) {
								var $next = $(".pagpages .pagination li.active").next("li").children("a");
								if ($next.length == 0) return;
								$.get($next.attr("href"), function(data) {
									$data = $(data);
									var pag = $data.find(".pagpages > *");
									var pag2 = pag.filter(".text-right").html();
									var pag_ch =  pag2.substr(0,pag2.indexOf(" ")).replace(/[^\d.]/ig, '');
									pag2 = pag2.replace(pag_ch, "1");
									$(".pagpages").html(pag);
									$(".pagpages .text-right").html(pag2);
									$(".owlproduct").not(".owl-theme").owlCarousel({
										beforeInit: true,
										items: 1,
										singleItem: true,
										mouseDrag: false,
										autoPlay: false,
										navigation: true,
										navigationText: ['<i class="fa fa-chevron-left fa-3x"></i>', '<i class="fa fa-chevron-right fa-3x"></i>'],
										pagination: false
									});
								}, "html")
							}
						}, 350);
					});
				} else if (autoscroll) {
					$('.pagpages .pagination').hide();
					autoscroll_loading = false;
					$(window).scroll(function() {
						if(inZone('.pagpages') && !autoscroll_loading) {
							autoscroll_loading = true;
							setTimeout(function() {
								gettNextProductPage(pages, pages_count);
								pages_count++;
								if (pages_count > 0) {
									var $next = $(".pagpages .pagination li.active").next("li").children("a");
									if ($next.length == 0) return;
									$.get($next.attr("href"), function(data) {
										$data = $(data);
										var pag = $data.find(".pagpages > *");
										var pag2 = pag.filter(".text-right").html();
										var pag_ch =  pag2.substr(0,pag2.indexOf(" ")).replace(/[^\d.]/ig, '');
										pag2 = pag2.replace(pag_ch, "1");
										$(".pagpages .text-right").html(pag2);
										$(".owlproduct").not(".owl-theme").owlCarousel({
											beforeInit: true,
											items: 1,
											singleItem: true,
											mouseDrag: false,
											autoPlay: false,
											navigation: true,
											navigationText: ['<i class="fa fa-chevron-left fa-3x"></i>', '<i class="fa fa-chevron-right fa-3x"></i>'],
											pagination: false
										});
										autoscroll_loading = false;
									}, "html")
								}
							}, 350);
						}
					});
				}
			}
		});
		function inZone(el){
			if($(el).length) {
				var scrollTop = $(window).scrollTop();
				var windowHeight = $(window).height();
				var offset = $(el).offset();
				if(scrollTop <= offset.top && ($(el).height() + offset.top) < (scrollTop + windowHeight))
				return true;
			};
			return false;
		}
	{% endif %} 
{% endif %} 
{% if (f_map) %} 
	{% if (not yamap) %} 
		ymaps.ready(init_map);
		function init_map(){
			var address = '{{ address }}';
			var geocoder = ymaps.geocode(address);
			geocoder.then(
				function (res) {
					var coordinates = res.geoObjects.get(0).geometry.getCoordinates();
					var map = new ymaps.Map("yamap", {
						center: coordinates,
						zoom: 15,
						controls: [
							'typeSelector',
							'fullscreenControl'
						]
					});			
					map.geoObjects.add(new ymaps.Placemark(
						coordinates,
						{
							'hintContent': address,
							'balloonContent': '{{ store }}'
						},
						{
							'preset': 'islands#redDotIcon'
						}
					));
				}
			);
		}
	{% endif %} 
	$(document).ready(function(){
		var height_f_conts = $('#map-wrapper .contact-info').outerHeight();
		$('#map-wrapper #yamap').css('height', height_f_conts);
		$('#map-wrapper #yamap ymaps').css('height', height_f_conts);
		$('#map-wrapper .contact-info').css('position', 'absolute');
	});
{% endif %} 
function get_revpopup_predzakaz(product_id) {
	if (document.body.scrollHeight > document.body.offsetHeight) {
		$('#top3.absolutpo').css('right', '8.5px');
		if ($(window).width() < 768) {
			$('#top #cart_mobi').css('margin-right', '17px');
		}
	}
	$.magnificPopup.open({
		removalDelay: 170,
		callbacks: {
			beforeOpen: function() {
			   this.st.mainClass = 'mfp-zoom-in';
			},
			open: function() {
				$('body').addClass('razmiv2');
				$('#pagefader2').fadeIn(70);
			}, 
			close: function() {
				$('body').removeClass('razmiv2');
				$('#pagefader2').fadeOut(70);
				$('#top3.absolutpo').css('right', 'initial');
				if ($(window).width() < 768) {
					$('#top #cart_mobi').css('margin-right', 'initial');
				}
			}
		},
		tLoading: '',
		items: {
			src: 'index.php?route=revolution/revpopuppredzakaz&revproduct_id='+product_id,
			type: 'ajax'
		}
	});
}
{% if (revtheme_filter['status']) %} 
	function get_product_option_id(product_id) {
		var sel_option_id = document.getElementById('soption_'+product_id);
		var option_id = sel_option_id.options[sel_option_id.selectedIndex].getAttribute('product_option_id');
		sel_option_id.setAttribute('name', 'option['+option_id+']');
		update_prices_product(product_id,1);
	}
	(function($){
		$.fn.revFilter = function(f) {
			var g = this.selector;
			var h = $(g).attr('action');
			$(document).ready(function() {
				init_revfilter();
			});
			$(document).on('submit', g, function(e) {
				e.preventDefault();
				var a = $(this).serialize();
				loadProds(h,a,f.revload);
			});
			$(document).on('click', '#'+f.reset_id, function(e) {
				$(g+' input, '+g+' select').not('[type=hidden]').each(function(a) {
					if ($(this).hasClass('irs-hidden-input')) {
						var b = $(this).data('ionRangeSlider');
						b.reset();
						}
					if ($(this).is(':checkbox') || $(this).is(':radio')) {
						$(this).removeAttr("checked");
					} else {
						$(this).val('');
					}
				});
				var c = $(g).serialize();
				loadProds(h,c,f.revload);
			});
			if (f.mode == 'auto') {
				$(document).on('change', g+' input:not([type=hidden]):not(.irs-hidden-input), '+g+' select', function() {
					$(g).submit();
				})
			}
			function init_revfilter() {
				{% if (setting_catalog_all['pagination'] == 'knopka') %} 
					$('.pagpages').addClass('dnone');
				{% endif %} 
				{% if (setting_catalog_all['pagination'] == 'standart_knopka' or setting_catalog_all['pagination'] == 'knopka') %} 
					var a = $('#load_more').html();
					$('.pagination').parent().parent().before(a);
				{% endif %} 
				$('#input-sort').removeAttr('onchange');
				$('#input-limit').removeAttr('onchange');
				$(f.selector).addClass('revcontainer');
				if (localStorage.getItem('display') == 'list') {
					list_view();
				} else if (localStorage.getItem('display') == 'price') {
					price_view();
				} else if (localStorage.getItem('display') == 'grid') {
					grid_view();
				} else {
					{% if (setting_catalog_all['vid_default'] == 'vid_price') %} 
						price_view();
					{% elseif (setting_catalog_all['vid_default'] == 'vid_list') %} 
						list_view();
					{% elseif (setting_catalog_all['vid_default'] == 'vid_grid') %} 
						grid_view();
					{% endif %} 
				}
				{% if (setting_catalog_all['img_slider']) %} 
					$('#content .owlproduct').owlCarousel( {
						beforeInit: true,
						items: 1,
						singleItem: true,
						mouseDrag: false,
						autoPlay: false,
						navigation: true,
						navigationText: ['<i class="fa fa-chevron-left fa-3x"></i>','<i class="fa fa-chevron-right fa-3x"></i>'],
						pagination: false
					});
					{% if (not setting_catalog_all['chislo_ryad']) %} 
						if (localStorage.getItem('display')=='grid') {
							$('.product-thumb > .image').css('width','initial');
						}
					{% endif %} 
					podgon_img();
				{% else %} 
					$('.owl-carousel.owlproduct').remove();
				{% endif %} 
				podgon_fona();
				$('#column-left #revfilter_box .mobil_wellsm .well.well-sm').remove();
				if ($(window).width() < 991) {
					$('#column-left #revfilter_box .mobil_wellsm .collapsible').append($('.revfilter_container > .well.well-sm'));
				}
				{{revtheme_filter['scripts'] is defined ? revtheme_filter['scripts'] : '' }} 
			}
			function loadProds(c,d,e) {
				d = d || '';
				e = e || false;
				filterurl = c + '&isrevfilter=1';
				$.ajax({
					url: filterurl,
					type: 'get',
					data: d,
					processData: false,
					dataType: e ? 'json' : 'html',
					beforeSend: function() {
						$(g+' button').button('loading');
						masked('.products_category > .product-layout > .product-thumb',true);
						$('.load_more .fa-refresh').addClass('fa-spin');
					},
					success: function(a) {
						var b = $.parseHTML((e && (typeof a.html != 'undefined')) ? a.html : a);
						$(f.selector).children().remove();
						$(f.selector).append($(b).find(f.selector).children());
						init_revfilter();
					},
					complete: function() {
						setTimeout(function() {
							masked('.products_category > .product-layout > .product-thumb',false);
							autoscroll_loading = false;
							$(g+' button').button('reset');
							var pr_opts_cat = $('.products_category .options_buy')
							pr_opts_cat.find('select:first').each(function() {
								this.onchange();
							});
						},250);
						if (f.mode == 'manual' && $(window).width() > 767) {
							element = $('.breadcrumb');
							offset = element.offset();
							offsetTop = offset.top;
							//$('html, body').animate({scrollTop:offsetTop}, 250, 'linear');
						};
						$('.load_more .fa-refresh').removeClass('fa-spin').css('hover');
						{% if (setting_catalog_all['pagination'] == 'auto') %} 
							$('.pagpages .pagination').hide();
						{% endif %} 
						{% if (revtheme_filter['filter_brstroka'] is defined and revtheme_filter['filter_brstroka']) %} 
							var urlfull = c + (d ? ((c.indexOf('?') > 0 ? '&' : '?') + d) : '');
							urlfull = decodeURIComponent(urlfull);
							history.pushState('', '', urlfull);
						{% endif %}
					}
				})
			}
			$(document).on('click', '.pagination a', function(e) {
				loadProds($(this).attr('href'), null, true);
				element = $('.breadcrumb');
				offset = element.offset();
				offsetTop = offset.top;
				$('html, body').animate({scrollTop:offsetTop}, 250, 'linear');
				return false;
			});
			$(document).on('change', '#input-sort', function(e) {
				var a = $(this).val();
				sort = a.match('sort=([A-Za-z.]+)');
				$('input[name="sort"]').val(sort[1]);
				order = a.match('order=([A-Z]+)');
				$('input[name="order"]').val(order[1]);
				loadProds(a, null, true);
			});
			$(document).on('change', '#input-limit', function(e) {
				var a = $(this).val();
				if (a) {
					limit = a.match('limit=([0-9]+)');
					$('input[name="limit"]').val(limit[1]);
				}
				loadProds(a, null, true);
			});
			{% if (setting_catalog_all['pagination'] == 'standart_knopka' or setting_catalog_all['pagination'] == 'knopka') %} 
				var i = $('#input-limit').val();
				if (i) {
					limit = i.match('limit=([0-9]+)');
					$i = limit[1];
				}
				$(document).on('click', '.load_more', function(e) {
					e.preventDefault();
					var a = $('#input-limit').val();
					if (a) {
						limit = a.match('limit=([0-9]+)');
					}
					limit3 = $('#revfilter input[name="limit"]').val();
					if (limit3) {
						limit21 = limit3;
					} else {
						limit21 = limit[1];
						$('#revfilter input[name="limit"]').val(limit21);
					}
					limit2 = Number(limit21)+Number($i);
					limitnumber = 'limit='+limit21;
					a = a.replace('limit='+$i,'');
					a = a.replace(limitnumber,'');
					var b = a+'limit='+limit2;
					$('#revfilter input[name="limit"]').val(limit2);
					loadProds(b, null, true);
				});
			{% endif %} 
			{% if (setting_catalog_all['pagination'] == 'auto') %} 
				var i = $('#input-limit').val();
				limit = i.match('limit=([0-9]+)');
				$i = limit[1];
				autoscroll_loading = false;
				$('.pagpages .pagination').hide();
				$(window).scroll(function() {
					if (inZone('.pagpages') && !autoscroll_loading) {
						autoscroll_loading = true;
						var c = $(".pagpages .pagination li.active").next("li").children("a");
						if (c.length==0) return;
						setTimeout(function() {
							var a = $('#input-limit').val();
							limit = a.match('limit=([0-9]+)');
							limit3 = $('#revfilter input[name="limit"]').val();
							if (limit3) {
								limit21 = limit3;
							} else {
								limit21 = limit[1];
								$('#revfilter input[name="limit"]').val(limit21);
							}
							limit2 = Number(limit21)+Number($i);
							limitnumber = 'limit='+limit21;
							a = a.replace('limit='+$i,'');
							a = a.replace(limitnumber,'');
							var b = a+'limit='+limit2;
							$('#revfilter input[name="limit"]').val(limit2);
							loadProds(b, null, true);
						}, 250);
					}
				});
			{% endif %} 
			function inZone(a) {
				if ($(a).length) {
				var b = $(window).scrollTop();
				var c = $(window).height();
				var d = $(a).offset();
				if (b<=d.top&&($(a).height()+d.top)<(b+c)) return true
				};
				return false;
			}
			$(document).on('click','#list-view',function() {
				list_view();
			});
			$(document).on('click', '#grid-view', function() {
				grid_view();
			});
			$(document).on('click', '#price-view', function() {
				price_view();
			});
		}
	})(jQuery);
{% endif %} 
//--></script>
{% if (user_scripts) %} 
	{{ user_scripts }} 
{% endif %} 
{% if (setting_catalog_all['pagination'] != 'standart') %} 
	<div id="load_more" style="display:none;"><div class="col-sm-12 text-center"><a href="#" class="load_more btn btn-primary" rel="nofollow"><i class="fa fa-refresh"></i>{{ text_loadmore }}</a></div></div>
{% endif %} 
{% if (setting_all_settings['cookies']) %} 
	<div class="bottom_cookie_block">
		<span>{{ cookies_text }}</span>
		<a href="javascript:void(0);" class="bottom_cookie_block_ok btn-sm btn-primary">Ok</a>
	</div>
	<script><!--
		var Cookie = {
			set: function(name, value, days) {
				var domain, domainParts, date, expires, host;
				if (days) {
					date = new Date();
					date.setTime(date.getTime()+(days*24*60*60*1000));
					expires = "; expires="+date.toGMTString();
				} else {
					expires = "";
				}
				host = location.host;
				if (host.split('.').length === 1) {
					document.cookie = name+"="+value+expires+"; path=/";
				} else {
					domainParts = host.split('.');
					domainParts.shift();
					domain = '.'+domainParts.join('.');
					document.cookie = name+"="+value+expires+"; path=/";
					if (Cookie.get(name) == null || Cookie.get(name) != value) {
						domain = '.'+host;
						document.cookie = name+"="+value+expires+"; path=/";
					}
				}
				return domain;
			},
			get: function(name) {
				var nameEQ = name + "=";
				var ca = document.cookie.split(';');
				for (var i=0; i < ca.length; i++) {
					var c = ca[i];
					while (c.charAt(0)==' ') {
						c = c.substring(1,c.length);
					}
					if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
				}
				return null;
			}
		};
		if(!Cookie.get('revcookie')) {
			setTimeout("document.querySelector('.bottom_cookie_block').style.display='block'", 500);
		}
		$('.bottom_cookie_block_ok').click(function(){
			$('.bottom_cookie_block').fadeOut();
			Cookie.set('revcookie', true, '120');
		});
	//--></script>
{% endif %} 
</body></html>