{{ header }} 
<div class="container">
<div itemscope itemtype="http://schema.org/BreadcrumbList" style="display:none;">
{% set position = 1 %} {% for breadcrumb in breadcrumbs %} 
<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
<link itemprop="item" href="{{ breadcrumb['href'] }}">
<meta itemprop="name" content="{{ breadcrumb['text'] }}" />
<meta itemprop="position" content="{{ position }}" />
</div>
{% set position = position + 1 %} {% endfor %} 
</div>
<ul class="breadcrumb"><li class="br_ellipses" style="display: none;">...</li>
{% for i,breadcrumb in breadcrumbs %} 
{% if (i+1<breadcrumbs|length) %}<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>{% else %}{% endif %} 
{% endfor %} 
<li><h1 class="inbreadcrumb">{{ heading_title }}</h1></li>
</ul>
  {% if (error_warning) %} 
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %} 
  <div class="row">{{ column_left }} 
    {% if (column_left and column_right) %} 
    {% set class = 'col-sm-6' %} 
    {% elseif (column_left or column_right) %} 
    {% set class = 'col-sm-9' %} 
    {% else %} 
    {% set class = 'col-sm-12' %} 
    {% endif %} 
    <div id="content" class="{{ class }}">{{ content_top }} 
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
		<input type="hidden" name="fax" value="" />
		<input type="hidden" name="default" value="1" />
		<input type="hidden" name="address_2" value="" />
		<input type="hidden" name="company" value="" />
		{% if (settings['revregister_name']) %} 
			<div class="form-group {% if (settings['revregister_name'] == '2') %}required{% endif %}">
				<label class="col-xs-3 control-label" for="input-firstname">{{ entry_firstname }} </label>
				<div class="col-xs-9">
					<input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />
					{% if (error_firstname) %} 
						<div class="text-danger">{{ error_firstname }}</div>
					{% endif %} 
				</div>
			</div>
		{% else %} 
			<input type="hidden" name="firstname" value="" />
		{% endif %} 
		{% if (settings['revregister_family']) %} 
			<div class="form-group {% if (settings['revregister_family'] == '2') %}required{% endif %}">
				<label class="col-xs-3 control-label" for="input-lastname">{{ entry_lastname }}</label>
				<div class="col-xs-9">
					<input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />
					{% if (error_lastname) %} 
						<div class="text-danger">{{ error_lastname }}</div>
					{% endif %} 
				</div>
			</div>
		{% else %} 
			<input type="hidden" name="lastname" value="" />
		{% endif %} 
		{% if (settings['revregister_mail']) %} 
			<div class="form-group {% if (settings['revregister_mail'] == '2') %}required{% endif %}">
				<label class="col-xs-3 control-label" for="input-email">{{ entry_email }}</label>
				<div class="col-xs-9">
					<input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
					{% if (error_email) %} 
						<div class="text-danger">{{ error_email }}</div>
					{% endif %} 
				</div>
			</div>
		{% else %} 
			<input type="hidden" name="email" value="empty@email" />
		{% endif %} 
		<div class="form-group required">
			<label class="col-xs-3 control-label" for="input-password">{{ entry_password }}</label>
			<div class="col-xs-9">
				<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
				{% if (error_password) %} 
					<div class="text-danger">{{ error_password }}</div>
				{% endif %} 
			</div>
		</div>
		{% if (settings['revregister_telephone']) %} 
			<div class="form-group {% if (settings['revregister_telephone'] == '2') %}required{% endif %}">
				<label class="col-xs-3 control-label" for="input-telephone">{{ entry_telephone }}</label>
				<div class="col-xs-9">
					<input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
					{% if (error_telephone) %} 
						<div class="text-danger">{{ error_telephone }}</div>
					{% endif %} 
				</div>
			</div>
		{% else %} 
			<input type="hidden" name="telephone" value="" />
		{% endif %} 
		{% if (settings['revregister_custom_fields']) %} 
          {% for custom_field in custom_fields %} 
          {% if (custom_field['location'] == 'account') %} 
          {% if (custom_field['type'] == 'select') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <select name="custom_field[account][{{ custom_field['custom_field_id'] }}]" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for custom_field_value in custom_field['custom_field_value'] %} 
                {% if (account_custom_field[custom_field['custom_field_id']] is defined and custom_field_value['custom_field_value_id'] == account_custom_field[custom_field['custom_field_id']]) %} 
                <option value="{{ custom_field_value['custom_field_value_id'] }}" selected="selected">{{ custom_field_value['name'] }}</option>
                {% else %} 
                <option value="{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</option>
                {% endif %} 
                {% endfor %} 
              </select>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'radio') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <div>
                {% for custom_field_value in custom_field['custom_field_value'] %} 
                <div class="radio">
                  {% if (account_custom_field[custom_field['custom_field_id']] is defined and custom_field_value['custom_field_value_id'] == account_custom_field[custom_field['custom_field_id']]) %} 
                  <label>
                    <input type="radio" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field_value['custom_field_value_id'] }}" checked="checked" />
                    {{ custom_field_value['name'] }}</label>
                  {% else %} 
                  <label>
                    <input type="radio" name="custom_field[{{ custom_field['custom_field_id'] }}]" value="{{ custom_field_value['custom_field_value_id'] }}" />
                    {{ custom_field_value['name'] }}</label>
                  {% endif %} 
                </div>
                {% endfor %} 
              </div>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'checkbox') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <div>
                {% for custom_field_value in custom_field['custom_field_value'] %} 
                <div class="checkbox">
                  {% if (account_custom_field[custom_field['custom_field_id']] is defined and (custom_field_value['custom_field_value_id'] in account_custom_field[custom_field['custom_field_id']])) %} 
                  <label>
                    <input type="checkbox" name="custom_field[account][{{ custom_field['custom_field_id'] }}][]" value="{{ custom_field_value['custom_field_value_id'] }}" checked="checked" />
                    {{ custom_field_value['name'] }}</label>
                  {% else %} 
                  <label>
                    <input type="checkbox" name="custom_field[{{ custom_field['custom_field_id'] }}][]" value="{{ custom_field_value['custom_field_value_id'] }}" />
                    {{ custom_field_value['name'] }}</label>
                  {% endif %} 
                </div>
                {% endfor %} 
              </div>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'text') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <input type="text" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'textarea') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <textarea name="custom_field[account][{{ custom_field['custom_field_id'] }}]" rows="5" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control">{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}</textarea>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'file') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <button type="button" id="button-custom-field{{ custom_field['custom_field_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : '' }}" />
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'date') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <div class="input-group date">
                <input type="text" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" placeholder="{{ custom_field['name'] }}" data-date-format="YYYY-MM-DD" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'time') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <div class="input-group time">
                <input type="text" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" placeholder="{{ custom_field['name'] }}" data-date-format="HH:mm" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'datetime') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <div class="input-group datetime">
                <input type="text" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ account_custom_field[custom_field['custom_field_id']] is defined ? account_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" placeholder="{{ custom_field['name'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% endif %} 
          {% endfor %} 
		{% endif %} 
		{% if (settings['revregister_country']) %} 
			<div class="form-group {% if (settings['revregister_country'] == '2') %}required{% endif %}">
				<label class="col-xs-3 control-label" for="input-country">{{ entry_country }}</label>
				<div class="col-xs-9">
					<select name="country_id" id="input-country" class="form-control">
						<option value="">{{ text_select }}</option>
						{% for country in countries %} 
							{% if (country['country_id'] == country_id) %} 
								<option value="{{ country['country_id'] }}" selected="selected">{{ country['name'] }}</option>
							{% else %} 
								<option value="{{ country['country_id'] }}">{{ country['name'] }}</option>
							{% endif %} 
						{% endfor %} 
					</select>
					{% if (error_country) %} 
						<div class="text-danger">{{ error_country }}</div>
					{% endif %} 
				</div>
			</div>
		{% else %} 
			<select name="country_id" id="input-country" style="display: none;">
				<option value="{{ config_country_id }}" selected="selected"></option>
			</select>
			<!--<input type="hidden" name="country_id" value="{{ config_country_id }}" />-->
		{% endif %} 
		{% if (settings['revregister_region']) %} 
			<div class="form-group {% if (settings['revregister_region'] == '2') %}required{% endif %}">
				<label class="col-xs-3 control-label" for="input-zone">{{ entry_zone }}</label>
				<div class="col-xs-9">
					<select name="zone_id" id="input-zone" class="form-control">
					</select>
					{% if (error_zone) %} 
						<div class="text-danger">{{ error_zone }}</div>
					{% endif %} 
				</div>
			</div>
		{% else %} 
			<input type="hidden" name="zone_id" value="" />
		{% endif %} 
		{% if (settings['revregister_index']) %} 
			<div class="form-group {% if (settings['revregister_index'] == '2') %}required{% endif %}">
				<label class="col-xs-3 control-label" for="input-postcode">{{ entry_postcode }}</label>
				<div class="col-xs-9">
					<input type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-postcode" class="form-control" />
					{% if (error_postcode) %} 
						<div class="text-danger">{{ error_postcode }}</div>
					{% endif %} 
				</div>
			</div>
		{% else %} 
			<input type="hidden" name="postcode" value="" />
		{% endif %} 
		{% if (settings['revregister_city']) %} 
			<div class="form-group {% if (settings['revregister_city'] == '2') %}required{% endif %}">
				<label class="col-xs-3 control-label" for="input-city">{{ entry_city }}</label>
				<div class="col-xs-9">
					<input type="text" name="city" value="{{ city }}" placeholder="{{ entry_city }}" id="input-city" class="form-control" />
					{% if (error_city) %} 
						<div class="text-danger">{{ error_city }}</div>
					{% endif %} 
				</div>
			</div>
		{% else %} 
			<input type="hidden" name="city" value="" />
		{% endif %} 
		{% if (settings['revregister_adres']) %} 
			<div class="form-group {% if (settings['revregister_adres'] == '2') %}required{% endif %}">
				<label class="col-xs-3 control-label" for="input-address-1">{{ entry_address_1 }}</label>
				<div class="col-xs-9">
					<input type="text" name="address_1" value="{{ address_1 }}" placeholder="{{ entry_address_1 }}" id="input-address-1" class="form-control" />
					{% if (error_address_1) %} 
						<div class="text-danger">{{ error_address_1 }}</div>
					{% endif %} 
				</div>
			</div>
		{% else %} 
			<input type="hidden" name="address_1" value="" />
		{% endif %} 
		{% if (settings['revregister_custom_fields']) %} 
		  {% for custom_field in custom_fields_addr %} 
          {% if (custom_field['location'] == 'address') %} 
          {% if (custom_field['type'] == 'select') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <select name="custom_field[address][{{ custom_field['custom_field_id'] }}]" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for custom_field_value in custom_field['custom_field_value'] %} 
                {% if (address_custom_field[custom_field['custom_field_id']] is defined and custom_field_value['custom_field_value_id'] == address_custom_field[custom_field['custom_field_id']]) %} 
                <option value="{{ custom_field_value['custom_field_value_id'] }}" selected="selected">{{ custom_field_value['name'] }}</option>
                {% else %} 
                <option value="{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</option>
                {% endif %} 
                {% endfor %} 
              </select>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'radio') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <div>
                {% for custom_field_value in custom_field['custom_field_value'] %} 
                <div class="radio">
                  {% if (address_custom_field[custom_field['custom_field_id']] is defined and custom_field_value['custom_field_value_id'] == address_custom_field[custom_field['custom_field_id']]) %} 
                  <label>
                    <input type="radio" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field_value['custom_field_value_id'] }}" checked="checked" />
                    {{ custom_field_value['name'] }}</label>
                  {% else %} 
                  <label>
                    <input type="radio" name="custom_field[{{ custom_field['custom_field_id'] }}]" value="{{ custom_field_value['custom_field_value_id'] }}" />
                    {{ custom_field_value['name'] }}</label>
                  {% endif %} 
                </div>
                {% endfor %} 
              </div>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'checkbox') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <div>
                {% for custom_field_value in custom_field['custom_field_value'] %} 
                <div class="checkbox">
                  {% if (address_custom_field[custom_field['custom_field_id']] is defined and (custom_field_value['custom_field_value_id'] in address_custom_field[custom_field['custom_field_id']])) %} 
                  <label>
                    <input type="checkbox" name="custom_field[address][{{ custom_field['custom_field_id'] }}][]" value="{{ custom_field_value['custom_field_value_id'] }}" checked="checked" />
                    {{ custom_field_value['name'] }}</label>
                  {% else %} 
                  <label>
                    <input type="checkbox" name="custom_field[{{ custom_field['custom_field_id'] }}][]" value="{{ custom_field_value['custom_field_value_id'] }}" />
                    {{ custom_field_value['name'] }}</label>
                  {% endif %} 
                </div>
                {% endfor %} 
              </div>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'text') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <input type="text" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="{{ address_custom_field[custom_field['custom_field_id']] is defined ? address_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'textarea') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <textarea name="custom_field[address][{{ custom_field['custom_field_id'] }}]" rows="5" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control">{{ address_custom_field[custom_field['custom_field_id']] is defined ? address_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}</textarea>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'file') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <button type="button" id="button-custom-field{{ custom_field['custom_field_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="{{ address_custom_field[custom_field['custom_field_id']] is defined ? address_custom_field[custom_field['custom_field_id']] : '' }}" />
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'date') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <div class="input-group date">
                <input type="text" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="{{ address_custom_field[custom_field['custom_field_id']] is defined ? address_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" placeholder="{{ custom_field['name'] }}" data-date-format="YYYY-MM-DD" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'time') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <div class="input-group time">
                <input type="text" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="{{ address_custom_field[custom_field['custom_field_id']] is defined ? address_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" placeholder="{{ custom_field['name'] }}" data-date-format="HH:mm" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% if (custom_field['type'] == 'datetime') %} 
          <div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field" data-sort="{{ custom_field['sort_order'] }}">
            <label class="col-xs-3 control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}</label>
            <div class="col-xs-9">
              <div class="input-group datetime">
                <input type="text" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="{{ address_custom_field[custom_field['custom_field_id']] is defined ? address_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" placeholder="{{ custom_field['name'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
              {% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
              <div class="text-danger">{{ error_custom_field[custom_field['custom_field_id']] }}</div>
              {% endif %} 
            </div>
          </div>
          {% endif %} 
          {% endif %} 
          {% endfor %} 
		{% endif %} 
		{% if (settings['revregister_newsletter']) %} 
			<div class="form-group">
				<label class="col-xs-3 control-label">{{ entry_rev_newsletter }}</label>
				<div class="col-xs-9">
					{% if newsletter %}
						<label class="radio-inline">
						<input type="radio" name="newsletter" value="1" checked="checked" />
						{{ text_yes }}</label>
						<label class="radio-inline">
						<input type="radio" name="newsletter" value="0" />
						{{ text_no }}</label>
					{% else %}
						<label class="radio-inline">
						<input type="radio" name="newsletter" value="1" />
						{{ text_yes }}</label>
						<label class="radio-inline">
						<input type="radio" name="newsletter" value="0" checked="checked" />
						{{ text_no }}</label>
					{% endif %}
				</div>
			</div>
		{% else %} 
			<input type="hidden" name="newsletter" value="0" />
		{% endif %} 
        </fieldset>
        <div class="buttons clearfix">
			<!--<div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>-->
			<div class="pull-right">
				<input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
			</div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script><!--
// Sort the custom fields
$('.form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.form-group').length) {
		$('.form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('.form-group').length) {
		$('.form-group:first').before(this);
	}
});

$('button[id^=\'button-custom-field\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$(node).parent().find('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').attr('value', json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

$('.date').datetimepicker({
	pickTime: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	pickDate: false
});

$('select[name=\'country_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/account/country&country_id=' + this.value,
		dataType: 'json',
		complete: function() {
			$('.fa-spin').remove();
		},
		success: function(json) {
			html = '<option value="">{{ text_select }}</option>';
			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

					if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
						html += ' selected="selected"';
			  		}

			  		html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}

			$('select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
$('select[name=\'country_id\']').trigger('change');
//--></script>
{{ footer }}