{% if (error_warning) %} 
	<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
{% endif %} 
{% if (products or vouchers) %} 
	<div class="table_wrap">
		<table class="table table-responsive revcart_table">
			<thead>
				<tr>
					{% if (settings['revcheckout_foto']) %} 
						<td class="revcart_image image hidden-xs">{{ column_revcheckout_image }}</td>
					{% endif %} 
					<td class="text-left">{{ column_name }}</td>
					{% if (settings['revcheckout_model']) %} 
						<td class="revcart_model hidden-xs">{{ column_model }}</td>
					{% endif %} 
					{% if (settings['revcheckout_sku']) %} 
						<td class="revcart_sku hidden-xs">{{ column_sku }}</td>
					{% endif %} 
					{% if (settings['revcheckout_kolvo']) %} 
						<td class="revcart_kolvo quantity">{{ column_quantity }}</td>
					{% endif %} 
					<td class="revcart_price text-right">{{ column_revcheckout_price }}</td>
					{% if (settings['revcheckout_vsego']) %} 
						<td class="revcart_vsego total hidden-xs">{{ column_revcheckout_total }}</td>
					{% endif %} 
					<td class="revcart_delete delete"></td>
				</tr>
			</thead>
			<tbody>
				{% for product in products %} 
					<tr>
						{% if (settings['revcheckout_foto']) %} 
							<td class="revcart_image image hidden-xs"><img src="{{ product['thumb'] }}" class="img-thumbnail" title="{{ product['name'] }}" /></td>
						{% endif %} 
						<td class="name"><a href="{{ product['href'] }}">{{ product['name'] }}</a>
							{% if (not product['stock']) %}<span class="text-danger">***</span>{% endif %} 
						{% for option in product['option'] %} 
							<br /><small>{{ option['name'] }}: {% if (option['option_value'] is defined and option['option_value'] is not empty) %} {{ option['option_value'] }}{% elseif (option['value'] is defined) %} {{ option['value'] }}{% endif %}</small>
						{% endfor %} 
						</td>
						{% if (settings['revcheckout_model']) %} 
							<td class="revcart_model hidden-xs">{% if (product['option'] and option['model']) %}{{ option['model'] }}{% else %}{{ product['model'] }}{% endif %}</td>
						{% endif %} 
						{% if (settings['revcheckout_sku']) %} 
							<td class="revcart_sku hidden-xs">{{ product['sku'] }}</td>
						{% endif %} 
						{% if (settings['revcheckout_kolvo']) %} 
							<td class="revcart_kolvo quantity">
								<div class="quantity number">
									<div class="frame-change-count">
										<div class="btn-plus">
											<button type="button" onclick="validate_pole_cart2(this,{{ product['cart_id'] }},'+',{{ product['minimum'] }},{{ product['quantity_pr'] }});">+</button>
										</div>
										<div class="btn-minus">
											<button type="button" onclick="validate_pole_cart2(this,{{ product['cart_id'] }},'-',{{ product['minimum'] }},{{ product['quantity_pr'] }});">-</button>
										</div>
									</div>
									<input type="text" name="quantity[{{ product['cart_id'] }}]" value="{{ product['quantity'] }}" onchange="update_cart_manual2(this, '{{ product['cart_id'] }}', '{{ product['minimum'] }}', '{{ product['quantity_pr'] }}');" size="1" class="plus-minus" /> 
								</div>
							</td>
						{% endif %} 
						<td class="revcart_price">{{ product['price'] }}</td>
						{% if (settings['revcheckout_vsego']) %} 
							<td class="revcart_vsego total text-right hidden-xs">{{ product['total'] }}</td>
						{% endif %} 
						<td class="revcart_delete delete text-center"><button type="button" onclick="cart_update('{{ product['cart_id'] }}', 0);" title="{{ button_remove }}" class=""><i class="fa fa-trash-o"></i></button></td>
					</tr>
				{% endfor %} 
				{% for voucher in vouchers %} 
					<tr>
						<td class="image text-center"></td>
						<td class="text-left">{{ voucher['description'] }}</td>
						<td class="text-left hidden-xs"></td>
						<td class="text-center hidden-xs">1</td>
						<td class="text-right hidden-xs">{{ voucher['amount'] }}</td>
						<td class="text-right">{{ voucher['amount'] }}</td>
						<td class="delete text-center"><button type="button" onclick="voucher.remove('{{ voucher['key'] }}');" title="{{ button_remove }}" class=""><i class="fa fa-times"></i></button></td>
					</tr>
				{% endfor %} 
			<tbody>
		</table>
	</div>
	{% if (coupon_status or voucher_status or reward_status) %} 
		<table class="coupon_table">
			{% if (coupon_status) %} 
				<tr>
					<td>
						<div class="coupon input-group">
							<!--<span class="revc_text">{# echo $text_revcheckout_coupon; #}</span>--><input type="text" name="coupon" value="" id="input-coupon" class="form-control" placeholder="{{ text_revcheckout_coupon }}" />
							<span class="input-group-btn">
								<button id="button-coupon" class="btn btn-primary">{{ text_revcheckout_apply }}</button>
							</span>
						</div>
					</td>
				</tr>
			{% endif %} 
			{% if (reward_status) %} 
				<tr>
					<td>
						<div class="coupon input-group">
							<!--<span class="revc_text">{# echo $text_revcheckout_reward; #}</span>--><input type="text" name="reward" value="" placeholder="{{ text_revcheckout_reward }}" id="input-reward" class="form-control" />
							<span class="input-group-btn">
								<button id="button-reward" class="btn btn-primary">{{ text_revcheckout_apply }}</button>
							</span>
						</div>
					</td>
				</tr>
			{% endif %} 
			{% if (voucher_status) %} 
				<tr>
					<td>
						<div class="coupon input-group">
							<!--<span class="revc_text">{# echo $text_revcheckout_voucher; #}</span>--><input type="text" name="voucher" value="" id="input-voucher" class="form-control" placeholder="{{ text_revcheckout_voucher }}" />
							<span class="input-group-btn">
								<button id="button-voucher" class="btn btn-primary">{{ text_revcheckout_apply }}</button>
							</span>
						</div>
					</td>
				</tr>
			{% endif %} 
		</table>
	{% endif %} 
	<table class="total_table">
		{% if (weight) %} 
			<tr>
				<td class="text-right hidden-xs">{{ text_revcheckout_products_weight }}:</td>
				<td class="text-right visible-xs">{{ text_revcheckout_products_weight }}:</td>
				<td>{{ weight }} {{ weight_format }}</td>
			</tr>
		{% endif %} 
		{% for total in totals %} 
			<tr>
			  <td class="text-right hidden-xs">{{ total['title'] }}:</td>
			  <td class="text-right visible-xs">{{ total['title'] }}:</td>
			  <td class="text-right">{{ total['text'] }}</td>
			</tr>
		{% endfor %} 
	</table>
	<script><!--
	function update_cart_manual2(val, product_id, minimumvalue, maximumvalue) {
		input_val = val.value.replace(/[^\d,]/g, '');
		quantity = parseInt(input_val);
		if (quantity < minimumvalue) {
			input_val(minimumvalue);
			return;
		}
		{% if (q_zavisimost) %} 
			if (quantity > maximumvalue) {
				input_val(maximumvalue);
			}
		{% endif %} 
		cart.update(product_id, input_val);
		cart_update();
	}
	function validate_pole_cart2(val, product_id, znak, minimumvalue, maximumvalue) {
		val.value = val.value.replace(/[^\d,]/g, '');
		if (val.value == '') val.value = minimumvalue;
		input_val = $(val).parent().parent().parent().children('.plus-minus');
		quantity = parseInt(input_val.val());
		{% if (q_zavisimost) %} 
			if (znak=='+' && input_val.val() < maximumvalue) input_val.val(quantity+1);
			else if (znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
			else if (znak=='=' && input_val.val() < maximumvalue && input_val.val() < maximumvalue) input_val.val(input_val.val());
			if (quantity < 1 || quantity < minimumvalue) {
				input_val.val(minimumvalue);
				val.value = minimumvalue;
			} else if (quantity > maximumvalue) {
				input_val.val(maximumvalue);
				val.value = maximumvalue;
			}
		{% else %} 
			if (znak=='+') input_val.val(quantity+1);
			else if (znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
			else if (znak=='=' && input_val.val() > minimumvalue) input_val.val(input_val.val());
			if (quantity < 1 || quantity < minimumvalue) {
				input_val.val(minimumvalue);
				val.value = minimumvalue;
			}
		{% endif %} 
		cart.update(product_id, input_val.val());
		cart_update();
	}
	//--></script>
{% else %} 
	<script><!--
		window.location = 'index.php?route=checkout/cart';
	--></script>
{% endif %} 
