<div class="payment_method">	
	{% if (error_warning) %} 
		<div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
	{% endif %} 
	{% if (payment_methods) %} 
		{% for payment_method in payment_methods %} 
			<div class="radio">
				{% set lock = payment_method['error'] is defined and payment_method['error'] is empty or payment_method['error'] is not defined ? constant('false') : constant('true') %} 
				{% if ((payment_method['code'] == code or not code) and lock == constant('false')) %} 
					{% set code = payment_method['code'] %} 
					<label class="input"><input type="radio" name="payment_method" value="{{ payment_method['code'] }}" title="{{ payment_method['title'] }}" id="{{ payment_method['code'] }}" checked="checked" {% if (lock == constant('true')) %} {{ 'disabled' }}{% endif %} /><span></span>{{ payment_method['title'] }}</label>
				{% else %} 
					<label class="input"><input type="radio" name="payment_method" value="{{ payment_method['code'] }}" title="{{ payment_method['title'] }}" id="{{ payment_method['code'] }}" {% if (lock == constant('true')) %} {{ 'disabled' }}{% endif %} /><span></span>{{ payment_method['title'] }}</label>
				{% endif %} 
			</div>
		{% endfor %} 
	{% endif %} 
</div>
