<div class="row">
	<input type="hidden" name="fax" value="" />
	<input type="hidden" name="company" value="" />
	<input type="hidden" name="address_2" value="" />
	{% if (settings['revcheckout_register'] == '1' and not logged) %} 
		<div class="form-group">
			<label class="col-xs-5 t-ar control-label">{{ text_register }}:</label>
			<div class="col-xs-7">
				<input type="checkbox" name="register" onclick="jQuery('.register-form').toggle(); {% if (settings['revcheckout_mail'] == '1') %}jQuery('.revcheckout_mail_reg_on').toggle(){% endif %}" value="1" {% if (register) %} checked {% endif %}>
			</div>
		</div>    
		<div class="register-form" style="{% if (not register) %}display: none;{% endif %}clear: both;">
			{% if (settings['revcheckout_customer_group']) %} 
				<div class="form-group">
					<label class="col-xs-5 t-ar control-label">{{ entry_customer_group }}:</label>
					<div class="col-xs-7">
						<select name="customer_group_id" class="form-control">
							{% for customer_group in customer_groups %} 
								{% if (customer_group['customer_group_id'] == customer_group_id) %} 
									<option value="{{ customer_group['customer_group_id'] }}" selected="selected">{{ customer_group['name'] }}</option>
								{% else %} 
									<option value="{{ customer_group['customer_group_id'] }}">{{ customer_group['name'] }}</option>
								{% endif %} 
							{% endfor %} 
						</select>
					</div>
				</div>
			{% endif %} 
			{% if (settings['revcheckout_mail']) %} 
				<div class="form-group required">
					<label class="col-xs-5 t-ar control-label">{{ entry_email }}:</label>
					<div class="col-xs-7">
						<input type="text" name="email" value="{{ email is defined ? email : '' }}" class="form-control" />
					</div>
				</div>
			{% endif %} 
			<div class="form-group required">
				<label class="col-xs-5 t-ar control-label">{{ entry_password }}:</label>
				<div class="col-xs-7">
					<input type="password" name="password" value="" class="form-control" />
				</div>
			</div>
		</div>
	<div class="clearfix"></div>
	{% elseif (settings['revcheckout_register'] == '2' and not logged) %} 
		{% if (settings['revcheckout_mail']) %} 
			<div class="form-group required">
				<label class="col-xs-5 t-ar control-label">{{ entry_email }}:</label>
				<div class="col-xs-7">
					<input type="text" name="email" value="{{ email is defined ? email : '' }}" class="form-control" />
				</div>
			</div>
		{% endif %} 
		<div class="form-group required">
			<label class="col-xs-5 t-ar control-label">{{ entry_password }}:</label>
			<div class="col-xs-7">
				<input type="password" name="password" value="" class="form-control" />
			</div>
		</div>
		<div class="clearfix"></div>
	{% else %} 
		<input type="hidden" name="email" value="{{ email is defined ? email : '' }}" class="form-control" />
	{% endif %} 
	{% if (settings['revcheckout_family']) %} 
		<div class="form-group {% if (settings['revcheckout_family'] == '2') %}required{% endif %}">
			<label class="col-xs-5 t-ar control-label">{{ entry_lastname }}:</label>
			<div class="col-xs-7">
				<input type="text" name="lastname" value="{{ lastname is defined ? lastname : '' }}" class="form-control" />
			</div>
		</div>
	{% else %} 
		<input type="hidden" name="lastname" value="" />
	{% endif %} 
	{% if (settings['revcheckout_name']) %} 
		<div class="form-group {% if (settings['revcheckout_name'] == '2') %}required{% endif %}">
			<label class="col-xs-5 t-ar control-label">{{ entry_firstname }}:</label>
			<div class="col-xs-7">
				<input type="text" name="firstname" value="{{ firstname is defined ? firstname : '' }}" class="form-control" />
			</div>
		</div>
	{% else %} 
		<input type="hidden" name="firstname" value="" />
	{% endif %} 
	{% if (settings['revcheckout_telephone']) %} 
		<div class="form-group {% if (settings['revcheckout_telephone'] == '2') %}required{% endif %}">
			<label class="col-xs-5 t-ar control-label">{{ entry_telephone }}:</label>
			<div class="col-xs-7">
				<input type="text" name="telephone" value="{{ telephone is defined ? telephone : '' }}" class="form-control" {% if (settings['revcheckout_telephone_mask']) %} data-mask="{{ settings['revcheckout_telephone_mask'] }}" {% endif %} />
			</div>
		</div>
	{% else %} 
		<input type="hidden" name="telephone" value="" />
	{% endif %} 
	{% if (((not register and settings['revcheckout_register'] == '1') or not settings['revcheckout_register']) and settings['revcheckout_mail']) %} 
		<div class="form-group {% if (settings['revcheckout_mail'] == '2') %}required{% endif %}">
			<label class="col-xs-5 t-ar control-label">{{ entry_email }}:</label>
			<div class="col-xs-7">
				<input type="text" name="email" value="{{ email is defined ? email : '' }}" class="form-control" />
			</div>
		</div>
	{% endif %} 
	{% if (custom_fields is defined) %} 
		{% for custom_field in custom_fields %} 
			{% if (custom_field['location'] == 'account') %} 
				{% if (custom_field['type'] == 'select') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<select name="custom_field[account][{{ custom_field['custom_field_id'] }}]" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control">
								<option value="">{{ text_select }}</option>
								{% for custom_field_value in custom_field['custom_field_value'] %} 
									<option value="{{ custom_field['name']~': '~custom_field_value['name'] }}">{{ custom_field_value['name'] }}</option>
								{% endfor %} 
							</select>
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'radio') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<div id="input-custom-field{{ custom_field['custom_field_id'] }}">
								{% for custom_field_value in custom_field['custom_field_value'] %} 
									<div class="radio">
										<label class="input"><input type="radio" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field_value['custom_field_value_id'] }}" /><span></span><span>{{ custom_field_value['name'] }}</span></label>
									</div>
								{% endfor %} 
							</div>
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'checkbox') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<div id="input-custom-field{{ custom_field['custom_field_id'] }}">
								{% for custom_field_value in custom_field['custom_field_value'] %} 
									<div class="checkbox">
										<label class="input"><input type="checkbox" name="custom_field[account][{{ custom_field['custom_field_id'] }}][]" value="{{ custom_field['name']~': '~custom_field_value['name'] }}" /><span>{{ custom_field_value['name'] }}</span></label>
									</div>
								{% endfor %} 
							</div>
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'text') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<input type="text" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="" placeholder="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" {% if (custom_field['mask']) %} data-mask="{{ custom_field['mask'] }}" {% endif %} />
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'textarea') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<textarea name="custom_field[account][{{ custom_field['custom_field_id'] }}]" rows="3" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" placeholder="{{ custom_field['value'] }}" {% if (custom_field['mask']) %} data-mask="{{ custom_field['mask'] }}" {% endif %}></textarea>
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'file') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<button type="button" id="button-shipping-custom-field{{ custom_field['custom_field_id'] }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
							<input type="hidden" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" />
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'date') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<input type="date" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'datetime') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<input type="datetime-local" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'time') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<input type="time" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
						</div>
					</div>
				{% endif %} 
			{% endif %} 
		{% endfor %} 
	{% endif %} 
	{% if (settings['revcheckout_comment']) %} 
		<div class="form-group {% if (settings['revcheckout_comment'] == '2') %}required{% endif %}">
			<label class="col-xs-5 t-ar control-label">{{ text_revcheckout_comment }}:</label>
			<div class="col-xs-7">
				<textarea name="comment" rows="3" class="form-control">{{ comment }}</textarea>
			</div>
		</div>
	{% endif %} 
	<script>
	$('select[name=\'customer_group_id\']').on('change', function() {
		update_user();
	});
	$('[name=\'register\']').on('change', function() {
		update_user();
	});
	</script>
</div>